<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
{% extends 'restaurant/base.html'%}
{% block content%}

<div class="container">
    <div class="row">
        <div class="col-md-2">
            <img src="http://i.imgur.com/VTwHzHA.png" height="" width="" class="img-thumbnail">
        </div>
        <div class="col-md-10">
            <nav class="navbar navbar-default inverse"> <!--class="navbar navbar-inverse navbar-fixed-top" role="navigation">-->
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>  
                </button>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li><a href="/recomet/"> Home</a></li>
                    <li><a href="/recomet/recomtest/">Recommendations</a></li>
                    
                    <li class="active" ><a href="/recomet/user/profile/{{ u.user.id }}/">My Profile</a></li>
                    <li><a href="/recomet/usercontext/{{u.user.id}}/">My Context</a></li>
                    <li><a href="/recomet/wishlist/{{u.user.id}}/">My Wishlist</a></li>
                    <li><a href="/recomet/topten/">Community</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                  <li><a href="/accounts/logout/"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
                </ul>
                </div>
            </div>
            </nav>
        </div>
        
    </div>
</div>

<div>
     {% if u != 'Guest'%}
        <center> <p class="small">Login as <b>{{ u }}.</b></p></center>
    {% endif %}
</div>

<div class="container">
    <div class="row">
                <div class="col-md-3">
                    <h3 class="page-header"><b>My preferences </b></h3>
                    
                    <div class="thumbnail">
                        <p><b>{{ user.first_name }}&nbsp;&nbsp;{{ user.last_name }}</b></p>
                        <p>Email : <b>{{ user.email }}</b></p>
                        <p>Date joined : <b>{{ user.date_joined }}</b></p>
                        <p>Price :<b> {{u.price}} ({{ u.price_id }})</b></p>
                        <p>My current position:<br>
                        <b>({{u.latitude}}, {{ u.longitude }})</b></p>
                        {% if u.cuisine.all %}
                        <p>Cuisine :</p>
                        <p>
                        <table>
                            {% for c in u.cuisine.all%}
                               <tr><td> &nbsp;&nbsp; &nbsp;&nbsp; <b>  {{ c.cuisine }}</b> </td></tr>
                            {% endfor %}
                        </table>
                        {% endif %}</p>

                        {% if u.atribute.all %}
                        <p> Attributes :</p>
                        <p>
                        <table>
                            {% for a in u.atribute.all%}
                             <tr><td> &nbsp;&nbsp; &nbsp;&nbsp;<b>   {{ a.atribute }} </b></td></tr>
                            {% endfor %}
                        </table>
                        {% endif %} </p>
                        
                        {% if msg %}
                        <p><img  width="20" height="20"   src="https://scontent-dfw.xx.fbcdn.net/hphotos-xat1/v/t1.0-9/11248080_973092776055756_7652585868344800201_n.jpg?oh=e05d733abc9af4734cdf6c03fa3c868d&oe=55D66D58" />
                        <font color="red">{{msg}}</font></p>
                        {% endif %}
                    </div>
                </div>
                 
                <div class="col-md-5">
                    <h3 class="page-header"><b>My reviews</b></h3>
                            {% if reviews %}
                                {% for i in reviews %}
                                <div class="thumbnail">
                                    <div class="caption">
                                            <p>
                                            <img width="50" height="50" src="{{i.restaurant.urlimg}}" class="img-thumbnail" /></a>
                                            <a href="/recomet/view_profile/{{i.restaurant_id}}/"><b> {{i.restaurant.name}}</b></a>
                                            </p>
                                            <p>
                                            {% if i.rating == 1 %}
                                                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>    
                                            {% endif %}
                                            {% if i.rating == 2 %}
                                                <span class="glyphicon glyphicon-star" aria-hidden="true"></span><span class="glyphicon glyphicon-star" aria-hidden="true"></span>    
                                            {% endif %}
                                            {% if i.rating == 3 %}
                                                <span class="glyphicon glyphicon-star" aria-hidden="true"></span><span class="glyphicon glyphicon-star" aria-hidden="true"></span><span class="glyphicon glyphicon-star" aria-hidden="true"></span>    
                                            {% endif %}
                                            {% if i.rating == 4 %}
                                                <span class="glyphicon glyphicon-star" aria-hidden="true"></span><span class="glyphicon glyphicon-star" aria-hidden="true"></span><span class="glyphicon glyphicon-star" aria-hidden="true"></span><span class="glyphicon glyphicon-star" aria-hidden="true"></span>    
                                            {% endif %}
                                            {% if i.rating == 5 %}
                                                <span class="glyphicon glyphicon-star" aria-hidden="true"></span><span class="glyphicon glyphicon-star" aria-hidden="true"></span><span class="glyphicon glyphicon-star" aria-hidden="true"></span><span class="glyphicon glyphicon-star" aria-hidden="true"></span><span class="glyphicon glyphicon-star" aria-hidden="true"></span>    
                                            {% endif %}                                          
                                            <br>
                                            <b>{{i.title}}</b></p> 
                                            <p><span class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span> &nbsp; {{ i.good }}</p>
                                            <p><span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span> &nbsp; {{ i.bad }}</p>
                                            <p><i>{{ i.review_time }}.</i></p>
                                        
                                    </div> 
                                </div>
                                {% endfor %}
                                
                            {% else %}
                                <div>
                                  <img  width="20" height="20" src="http://i.imgur.com/QCOoOv4.png" />
                                  <b><font color="red"> No reviews found!  </font></b>
                                </div>
                            {% endif %} 
                </div>
                
                <div class="col-md-4">
                 <h3 class="page-header"><b>My favorite restaurants</b></h3> 
                {% if fv %}
                    {% for item in fv %}
                            <div class="thumbnail">
                                <table>
                                    <tr>
                                    <!--button type="button" class="btn btn-default pull-right " id="btndel" ><span class='glyphicon glyphicon-remove' aria-hidden='true'></span></button-->
                                
                                    <td><p><a href="/recomet/view_profile/{{item.id}}/"><img src="{{item.urlimg}}" width=80 height=80  /> </a></p></td>
                                    <td><a href="/recomet/view_profile/{{item.id}}/"><b><center>{{item}}</center></b> </a><center>&nbsp;&nbsp;<span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>&nbsp;&nbsp;<i class="small">{{item.address}}<br></center></i></td>
                                    </tr>
                                    
                                </table>
                            </div>
                    {% endfor %}

                {% else %}
                    <div>
                        <img  width="20" height="20" src="http://i.imgur.com/QCOoOv4.png" />
                        <b><font color="red"> No restaurants found!  </font></b>
                    </div>
                {% endif %}  
                </div>    
    </div>
</div>  
</div>
  
{% endblock %}

<script>

//FALTA QUE FUNCIONE BOTON DE X.

</script>