  
{% extends 'restaurant/base.html'%}

{% block content%}
<!--BOOTSTRAP COUNTRIES-->
    <!--script src="http://www.fanrings-royals.com/apps/jcom/static/version/20150316155830-57297/js-lib/bootstrap-form-helpers/bootstrap-formhelpers-countries.js"></script-->
    <script src="https://s3-us-west-2.amazonaws.com/recomet-files/bootstrap-formhelpers-countries.js"></script>

<!-- Navigation -->
<div class="container">
    <div class="row">
        <div class="col-md-2">
            <img src="http://i.imgur.com/VTwHzHA.png" height="" width="" class="img-thumbnail">
        </div>
        <div class="col-md-10">
                 
            <nav class="navbar navbar-default inverse"> <!--class="navbar navbar-inverse navbar-fixed-top" role="navigation">-->
        
                <div class="container-fluid">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                          <span class="icon-bar"></span>
                          <span class="icon-bar"></span>
                          <span class="icon-bar"></span>
                        </button>
                    </div>
                   
                    <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav">
                        <li><a href="/recomet/">Home</a></li>
                        <li><a href="/recomet/recomtest/">Recommendations</a></li>
                        <li><a href="/recomet/user/profile/{{ u.user.id }}/">My Profile</a></li>
                        <li><a href="/recomet/usercontext/{{u.user.id}}/">My Context</a></li>
                        <li><a href="/recomet/wishlist/{{u.user.id}}/">My Wishlist</a></li>
                        <li><a href="/recomet/topten/">Community</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                      <li><a href="/accounts/logout/"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
                    </ul>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</div>

    <meta name="viewport" content="initial-escale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <style>
    #map-canvas {
                height: 500px;
                margin: 0px;
                padding: 0px
            }
    </style>

<div>
     {% if u != 'Guest'%}
        <center> <p class="small">Login as <b>{{ u }}.</b></p></center>
    {% endif %}
</div> 

<div class="container-fluid">
    <div class="row">

                <div class="col-md-3" >
                    <h3 class="page-header"><b>Restaurant</b></h3>
                    <div class="thumbnail">
                        {% if r.url %}<p> <a href="{{ r.url }}"><img width="240" height="200" src="{{r.urlimg}}" > </a> </p>{% else %}<p> <img width="240" height="200" src="{{r.urlimg}}" /></p>{% endif %}
                            <!--<img src="{{i.urlimg}}" width="242" height="200" class="img-rectangle"><br>-->
                                    <div >
                                        <p><h4><b><!--span class="glyphicon glyphicon-cutlery" aria-hidden="true"></span><a href="{{ r.url }}">&nbsp;<b>{{r.name}}</b></a></h4-->
                                        {% if r.url %}&nbsp;<a href="{{r.url}}">{{ r.name }}</a>{% else %}&nbsp;{{ r.name}}{% endif %}</b></h4></p>
                                        <p><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span> &nbsp;<i>{{ r.address }}</i></p>
                                        {% if r.phone %}<p><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>&nbsp;<i>{{ r.phone }}</i></p>{% endif %}
                                        {% if r.url %}<p><span class="glyphicon glyphicon-link" aria-hidden="true"></span><b>&nbsp;<a href="{{r.url}}"><i class="small">{{ r.url }}</i> </a>{% endif %}</b></p>
                                    </div>
                                    <div >
                                        <h4><b>Information</b></h4>
                                        City :<b>{{ r.city }}</b><br>
                                        Price range :<b>{{ r.price_range.type_price }} </b><br> 
                                        Alcohol :<b>{{ r.alcohol.type_alcohol }}</b><br>
                                        Smoking area :<b>{% if i.rest.smoking_area == 0 %}Yes{% else %} No {% endif %}</b><br>
                                        Dress code :<b>{{ r.dress_code.type_dresscode }}</b><br>
                                        Atmosphere :<b>{{ r.atmosphere.type_atmosphere}}</b>
                                    </div>
                                     <div id="{{r.id}}" class="text-success"> </div>
                                    <div class="panel-footer">
                                        <button type="button" class="btn btn-primary" id="new_review" value="{{r.id}}">Add my wishlist!</button>
                                    </div>
                                <!--form action="/recomet/addwishlist/{{ i.item.id }}/{{ id }}/" method="GET">
                                    <input class="btn btn-default" role="button" type=submit value="Add My Wishlist!!">
                                </form-->
                    </div>
                </div>

            <div class="col-md-5">
                    <h3 class="page-header"><b>Reviews</b></h3>
                            <!--p><a href="/recomet/review/{{ us.user_id }}/">Reviews</a></p-->
                            <!--{% if r.url %}<a href="{{ r.url }}"><img width="50" height="50" src="{{r.urlimg}}" class="img-thumbnail"/> </a>{% else %}<img width="50" height="50" src="{{r.urlimg}}" class="img-thumbnail"/>{% endif %}-->
                            <!-- Button trigger modal -->
                            <button type="button" id="btnreview" class="btn btn-default pull-right" data-toggle="modal" data-target="#myModal">
                             Write a Review
                            </button><br><br>
                            <div id="container">
                            {% if rev %}
                                {% for i in rev %}
                                <div class="thumbnail">
                                    <div class="caption">
                                        <span class="glyphicon glyphicon-user" aria-hidden="true""></span> <b>&nbsp; {{ i.user }} </font></b>&nbsp; <span class="bfh-countries" data-country="{{i.country}}" data-flags="true"></span>
                                        <!--span class="glyphicon glyphicon-user" aria-hidden="true"></span> <b>&nbsp; {{ i.user }}:</font></b>&nbsp; 
                                        <img class="country-select-flag" id="{{i.country.numeric}}" style="margin: 6px 4px 0" src="{{i.country.flag}}"><i>{{i.country.name}}</i-->
                                        <!--p><img width="50" height="50" src="{{i.urlimg}}" class="img-thumbnail"/> <a href="/recomet/view_profile/{{i.restaurant_id}}/"> {{i.restaurant.name}}</a></p-->
                                        <p>
                                        {% if i.rating == 1 %}
                                            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>    
                                        {% endif %}
                                        {% if i.rating == 2 %}
                                            <span class="glyphicon glyphicon-star" aria-hidden="true"></span><span class="glyphicon glyphicon-star" aria-hidden="true"></span>    
                                        {% endif %}
                                        {% if i.rating == 3 %}
                                            <span class="glyphicon glyphicon-star" aria-hidden="true"></span><span class="glyphicon glyphicon-star" aria-hidden="true"></span><span class="glyphicon glyphicon-star" aria-hidden="true"></span>    
                                        {% endif %}
                                        {% if i.rating == 4 %}
                                            <span class="glyphicon glyphicon-star" aria-hidden="true"></span><span class="glyphicon glyphicon-star" aria-hidden="true"></span><span class="glyphicon glyphicon-star" aria-hidden="true"></span><span class="glyphicon glyphicon-star" aria-hidden="true"></span>    
                                        {% endif %}
                                        {% if i.rating == 5 %}
                                            <span class="glyphicon glyphicon-star" aria-hidden="true"></span><span class="glyphicon glyphicon-star" aria-hidden="true"></span><span class="glyphicon glyphicon-star" aria-hidden="true"></span><span class="glyphicon glyphicon-star" aria-hidden="true"></span><span class="glyphicon glyphicon-star" aria-hidden="true"></span>    
                                        {% endif %}
                                        <br>
                                        <i>Said:<b> {{i.title}}</b></i></p>
                                        <p><span class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span> &nbsp; {{ i.good }}</p>
                                        <p><span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span> &nbsp; {{ i.bad }}</p>
                                        <p><i class="small">{{ i.review_time }}.</i></p>
                                    
                                    </div> 
                                </div>
                                {% endfor %}
                                
                            {% else %}
                                <div>
                                  <img  width="20" height="20" src="http://i.imgur.com/QCOoOv4.png" />
                                  <b><font color="red"> No reviews found!  </font></b>
                                </div>
                            {% endif %}
                            </div>
                </div>
    
    

            <div class="col-md-3">
                <h3 class="page-header"><b>Details </b></h3>
                <div class="thumbnail">
                        <form action="/recomet/rest/profile/" method="GET">
                                    <p><b><h4>
                                {% if r.url %}
                                        &nbsp;<a href="{{r.url}}">{{r.name}} </a>
                                {% else %}
                                        &nbsp;{{r.name}}
                                {% endif %}
                                    </b></h4></p>
                                    <!--ul>
                                        <li><a href="/recomet/rating/restaurant/{{ id }}/">Rating : </a></li>
                                        <!--li><a href="/recomet/review/restaurant/{{ id }}/">Reviews</a></li>
                                        <li><a href="/recomet/vote/{{ id }}/"> Vote</a></li>
                                    </ul-->
                            
                            <div>
                                {% if size %}
                                    {% for i in size %}
                                        <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                    {% endfor %}
                                {% else %}
                                    <img  width="20" height="20"   src="http://i.imgur.com/QCOoOv4.png" />
                                    <span class="glyphicons glyphicons-podcast"></span>
                                    <font color="red"> No ratings found!  </font>
                                {% endif %}
                            </div>  
                        </form>
                               
                            <h4><b> Please vote!</b></h4>
                            <!--<form action="/reco met/rest/profiles/{{ u.id }}/" "/recomet/view_profile/{{ id }}/" method="POST">{% csrf_token %}-->
                            <div id="message" class="text-success"></div>
                                
                            <form action="." method="POST">{% csrf_token %}
                                <div class="btn-group" >
                                    <button class="btn btn-default dropdown-toggle" type="button" id="menurating1" data-toggle="dropdown">
                                        Rating
                                    <span class="caret" ></span></button>
                                    <ul class="dropdown-menu" role="menu" aria-labelledby="menurating" id="menurating2" >
                                        <li role="presentation"><a role="item" value="5" href="#" ><span class="glyphicon glyphicon-star" aria-hidden="true"></span><span class="glyphicon glyphicon-star" aria-hidden="true"></span><span class="glyphicon glyphicon-star" aria-hidden="true"></span><span class="glyphicon glyphicon-star" aria-hidden="true"></span><span class="glyphicon glyphicon-star" aria-hidden="true"></span> &nbsp; Woow, awesome!</a></li>
                                        <li role="presentation"><a role="item" value="4" href="#" ><span class="glyphicon glyphicon-star" aria-hidden="true"></span><span class="glyphicon glyphicon-star" aria-hidden="true"></span><span class="glyphicon glyphicon-star" aria-hidden="true"></span><span class="glyphicon glyphicon-star" aria-hidden="true"></span> &nbsp; Yes, I love it!.</a></li>
                                        <li role="presentation"><a role="item" value="3" href="#" ><span class="glyphicon glyphicon-star" aria-hidden="true"></span><span class="glyphicon glyphicon-star" aria-hidden="true"></span><span class="glyphicon glyphicon-star" aria-hidden="true"></span> &nbsp; Normal, Ok.</a></li>
                                        <li role="presentation"><a role="item" value="2" href="#" ><span class="glyphicon glyphicon-star" aria-hidden="true"></span><span class="glyphicon glyphicon-star" aria-hidden="true"></span> &nbsp;Well, I've had better experiences.</a></li>
                                        <li role="presentation"><a role="item" value="1" href="#"  ><span class="glyphicon glyphicon-star" aria-hidden="true"></span>&nbsp;Hu, no thanks.</a></li>
                                                                                                                             
                                    </ul>
                                </div>
                                    <!--Rating: <br><input type="Textbox" id="txtrating" name="rating"><br>
                                    <input type="submit" id="btnenviar"  value="Send"   onClick="window.location.href=window.location.href"/-->
                            </form>
                    
                </div>
                
                
                
                <div class="thumbnail">
                    <div class="caption">
                    <h4  style="margin: 0px 0px 0;"><b>Ratings</b></h4>
                    </div>
                    <p class="small" style="margin: 0px 0px 0;">Woow, awesome! <span class="glyphicon glyphicon-star" aria-hidden="true"></span><span class="glyphicon glyphicon-star" aria-hidden="true"></span><span class="glyphicon glyphicon-star" aria-hidden="true"></span><span class="glyphicon glyphicon-star" aria-hidden="true"></span><span class="glyphicon glyphicon-star" aria-hidden="true"></span></p>
                    <div class="progress" style="line-height: 10px; height:10px; margin:0px; margin-top:0px; margin-bottom:0px;" >  {% if c5 %}<b class="small pull-right"><font color="black"> {{ c5 }}</font></b>{% else %}<b class="small pull-right"><font color="black">0</font></b> {% endif %}
                        <div class="progress-bar progress-bar-info progress-bar-striped active" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" value="c5" style="width: {{ percent5 }}%; height:40 pxs;" >
                        </div>
                    </div>
                    
                    <p class="small" style="margin: 0px 0px 0;">Yes, I love it!. <span class="glyphicon glyphicon-star" aria-hidden="true"></span><span class="glyphicon glyphicon-star" aria-hidden="true"></span><span class="glyphicon glyphicon-star" aria-hidden="true"></span><span class="glyphicon glyphicon-star" aria-hidden="true"></span></p>
                    <div class="progress" style="line-height: 10px; height:10px; margin:0px; margin-top:0px; margin-bottom:0px;">{% if c4 %}<b class="small pull-right"><font color="black"> {{ c4 }}</font></b>{% else %}<b class="small pull-right"><font color="black">0</font></b> {% endif %}
                        <div class="progress-bar progress-bar-info progress-bar-striped active" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: {{ percent4 }}%">
                        </div>
                    </div>
                    <p class="small" style="margin: 0px 0px 0;">Normal, Ok. <span class="glyphicon glyphicon-star" aria-hidden="true"></span><span class="glyphicon glyphicon-star" aria-hidden="true"></span><span class="glyphicon glyphicon-star" aria-hidden="true"></span></p>
                    <div class="progress" style="line-height: 10px; height:10px; margin:0px; margin-top:0px; margin-bottom:0px;"> {% if c3 %}<b class="small pull-right"><font color="black"> {{ c3 }}</font></b>{% else %}<b class="small pull-right"><font color="black">0</font></b> {% endif %}
                        <div class="progress-bar progress-bar-info progress-bar-striped active" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: {{ percent3 }}%">
                        </div>
                    </div>
                    <p class="small" style="margin: 0px 0px 0;">Well, I've had better experiences. <span class="glyphicon glyphicon-star" aria-hidden="true"></span><span class="glyphicon glyphicon-star" aria-hidden="true"></span></p>
                    <div class="progress" style="line-height: 10px; height:10px; margin:0px; margin-top:0px; margin-bottom:0px;">{% if c2 %}<b class="small pull-right"><font color="black"> {{ c2 }}</font></b>{% else %}<b class="small pull-right"><font color="black">0</font></b> {% endif %}
                        <div class="progress-bar progress-bar-info progress-bar-striped active" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: {{ percent2 }}%">
                        </div>
                    </div>
                    <p class="small" style="margin: 0px 0px 0;">Hu, no thanks. <span class="glyphicon glyphicon-star" aria-hidden="true"></span></p>
                    <div class="progress" style="line-height: 10px; height:10px; margin:0px; margin-top:0px; margin-bottom:0px;">  {% if c1 %}<b class="small pull-right"><font color="black">{{ c1 }}</font></b>{% else %}<b class="small pull-right"><font color="black">0</font></b> {% endif %}
                        <div class="progress-bar progress-bar-info progress-bar-striped active" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: {{ percent1 }}%">
                         
                        </div>
                    </div>
                    
                </div>
       
            
                
          
                <div class="thumbnail">
                        <b>Restaurant Location </b><br>
                        <div id="map-canvas" class="img-responsive" alt="" ></div>
                </div>
        
            </div>   
    </div> 
</div>



<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel"><font color="blue"><b>Write a Review</b></font></h4>
        <hr>
        <img width="50" height="50" src="{{r.urlimg}}" /> <b>{{r}}</b>
      </div>
      <div class="modal-body">
            <form class="form-horizontal">
                
              <div class="form-group">
                <label for="input-title" class="col-sm-3 control-label" name="rating">In my opinion:</label><br>
                <div class="radio" id="rating">
                    <label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input id="subrating" type="radio" name="optradio" value="5">Wohoo! as good as it gets! </label> (<span class="glyphicon glyphicon-star" aria-hidden="true"></span><span class="glyphicon glyphicon-star" aria-hidden="true"></span><span class="glyphicon glyphicon-star" aria-hidden="true"></span><span class="glyphicon glyphicon-star" aria-hidden="true"></span><span class="glyphicon glyphicon-star" aria-hidden="true"></span>) </div>
                <div class="radio" id="rating">
                    <label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input id="subrating" type="radio" name="optradio" value="4">Yea!, I am a fan!  </label> (<span class="glyphicon glyphicon-star" aria-hidden="true"></span><span class="glyphicon glyphicon-star" aria-hidden="true"></span><span class="glyphicon glyphicon-star" aria-hidden="true"></span><span class="glyphicon glyphicon-star" aria-hidden="true"></span>)</div>
                <div class="radio" id="rating">
                    <label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input id="subrating" type="radio" name="optradio" value="3">Normal, Ok. </label> (<span class="glyphicon glyphicon-star" aria-hidden="true"></span><span class="glyphicon glyphicon-star" aria-hidden="true"></span><span class="glyphicon glyphicon-star" aria-hidden="true"></span>)</div>
                <div class="radio" id="rating">
                    <label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input id="subrating" type="radio" name="optradio" value="2">Well, I have had better experiences. </label> (<span class="glyphicon glyphicon-star" aria-hidden="true"></span><span class="glyphicon glyphicon-star" aria-hidden="true"></span>)</div>
                <div class="radio" id="rating">
                    <label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input id="subrating" type="radio" name="optradio" value="1">Hu, me thinks not. </label> (<span class="glyphicon glyphicon-star" aria-hidden="true"></span>)</div>
                <br>
            </div>    
                
              <div class="form-group">
                <label for="input-title" class="col-sm-2 control-label">Title:</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="title" placeholder="Title">
                </div>
              </div>
              
              <div class="form-group">
                <label for="input-good" class="col-sm-2 control-label">The good:</label>
                <div class="col-sm-10">
                  <!--input type="text" class="form-control" id="good" placeholder="Good"-->
                  <textarea class="form-control" rows="2" id="good" placeholder="Good things"></textarea>
                </div>
              </div>
              
              <div class="form-group">
                <label for="input-bad" class="col-sm-2 control-label">The bad:</label>
                <div class="col-sm-10">
                  <!--input type="text" class="form-control" id="bad" placeholder="Bad"-->
                  <textarea class="form-control" rows="2" id="bad" placeholder="Bad things"></textarea>
                </div>
              </div>

            <div class="form-group">
                <label for="input-title" class="col-sm-2 control-label">Country:</label>
                <div class="bfh-selectbox bfh-countries" data-country="MX" data-flags="true" id="countriesall">
                    <input type="hidden" class="country" value="" id="cty1">
                    <a class="bfh-selectbox-toggle"  role="button" data-toggle="bfh-selectbox" href="#">
                      <span class="bfh-selectbox-option input-medium" data-option=""></span>
                      <b class="caret"></b>
                    </a>
                <div class="bfh-selectbox-options">
                  <input type="text" class="bfh-selectbox-filter">
                  <div role="listbox">
                    <ul role="option" >
                        <div id="option">
                            </div>
                    </ul>
                  </div>
                </div>
                </div>
            </div>
            
            <!--div class="btn-group" >
                <button class="btn btn-warning dropdown-toggle success" type="button" id="menureview" data-toggle="dropdown">
                Rating
                <span class="caret" ></span></button>
                    <ul class="dropdown-menu review" role="menureview" aria-labelledby="ratingreview" id="ratingreview" >
                        <li role="presentation"><a role="item" value="5" href="#" > &nbsp; Wohoo! as good as it gets!</a></li>
                        <li role="presentation"><a role="item" value="4" href="#" > &nbsp; Yea!, I am a fan!</a></li>
                        <li role="presentation"><a role="item" value="3" href="#" > &nbsp; Normal, Ok.</a></li>
                        <li role="presentation"><a role="item" value="2" href="#" > &nbsp; Well, I have had better experiences.</a></li>
                        <li role="presentation"><a role="item" value="1" href="#" > &nbsp;Hu, me thinks not</a></li>                                                                                                      
                    </ul>
                </div>
            </div-->
            
                
            <div class="modal-footer">
            <button type="submit" id="btnsave" class="btn btn-default" data-dismiss="modal" onclick="btnSave()">Save</button>
            <button type="button" id="btncancel" class="btn btn-default"  data-dismiss="modal">Cancel</button>
            </div>

            </form>  
        </div>
    </div>
  </div>
</div>

<script>

//FUNCION PARA EL BOTON MODAL DE REVIEW -------->
$( document ).ready(function() {

});

          



</script>

<script>

$( document ).ready(function() {

   
   //--------------------------------------------------------------------------- 
   //AGREGADA PARA FUNCION DEL BOTON DE WISHLIST.
   
   $(".btn-primary").click(function (){
        var iditem= $(this).val();
        //alert('Restaurant was added!');
        //document.getElementById('message').innerHTML = msg;
                                $.ajaxSetup({
                                    beforeSend: function(xhr, settings) {
                                    function getCookie(name) {
                                           var cookieValue = null;
                                           if (document.cookie && document.cookie != '') {
                                               var cookies = document.cookie.split(';');
                                               for (var i = 0; i < cookies.length; i++) {
                                                   var cookie = jQuery.trim(cookies[i]);
                                                   // Does this cookie string begin with the name we want?
                                                   if (cookie.substring(0, name.length + 1) == (name + '=')) {
                                                       cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                                                       break;
                                                   }
                                               }
                                           }
                                           return cookieValue; 
                                    }
                                       if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
                                           // Only send the token to relative URLs i.e. locally.
                                           xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
                                        }
                                    }
                                });
       $.ajax({
               type: "POST",
               url: "/recomet/addwish/",
               data: JSON.stringify({"iditem":iditem}),
               dataType: "json",
               contentType:"application/json",
               success: function(data) {
                    var jsonStr = JSON.stringify(data, null, 4);
                    //alert (jsonStr);
                    //alert (data.restaurant.item);
                    var wl = "<span class='glyphicon glyphicon-ok' aria-hidden='true'></span> <b>Added!</b>";
                    document.getElementById(data.restaurant.item).innerHTML = wl; 
                    
                }
       });
   });
   
   //FINALIZA FUNCION DE WISHLIST----------------------------------------------
   
    $(".dropdown-menu li a").click(function () {
    //$("#menurating1").click(function () {

           //console.log("Selected Option:"+$(this).text());
           var dropdowntxt = $(this).text();
           //alert($(this).text());
           //$("#message").fadeIn(3000);
           //$("#message").fadeOut(3000);
           var msg = "<span class='glyphicon glyphicon-ok' aria-hidden='true'></span> <b>Thanks for your vote!</b>";
           document.getElementById('message').innerHTML = msg;
           //$("#message").fadeOut(3000);
           var dropdownval= $(this).val(this.getAttribute("value"));
           //$('.dropdown-toggle').prop('disabled', true);
           $("#menurating1").hide();
           $("#msg").hide();
           
           
           
                                $.ajaxSetup({
                                    beforeSend: function(xhr, settings) {
                                    function getCookie(name) {
                                           var cookieValue = null;
                                           if (document.cookie && document.cookie != '') {
                                               var cookies = document.cookie.split(';');
                                               for (var i = 0; i < cookies.length; i++) {
                                                   var cookie = jQuery.trim(cookies[i]);
                                                   // Does this cookie string begin with the name we want?
                                                   if (cookie.substring(0, name.length + 1) == (name + '=')) {
                                                       cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                                                       break;
                                                   }
                                               }
                                           }
                                           return cookieValue; 
                                    }
                                       if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
                                           // Only send the token to relative URLs i.e. locally.
                                           xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
                                        }
                                    }
                                });
       $.ajax({
               type: "POST",
               url: "/recomet/view_profile/{{r.id}}/",
               data: JSON.stringify({"dropdowntxt":dropdowntxt, "dropdownval":dropdownval}),
               dataType: "json",
               contentType:"application/json",
               success: function(data) {
                    alert("Se han enviado los datos..." );
                    
                    
                    //var jsonStr = JSON.stringify(data, null, 4);
                    //alert(jsonStr);                
                }
       });
   });
//});



    $(".btn-primary").click(function (){
        var iditem= $(this).val();
        //var msg = "Thanks for add!";
        //alert(iditem);
        //document.getElementById('message').innerHTML = msg;
                                $.ajaxSetup({
                                    beforeSend: function(xhr, settings) {
                                    function getCookie(name) {
                                           var cookieValue = null;
                                           if (document.cookie && document.cookie != '') {
                                               var cookies = document.cookie.split(';');
                                               for (var i = 0; i < cookies.length; i++) {
                                                   var cookie = jQuery.trim(cookies[i]);
                                                   // Does this cookie string begin with the name we want?
                                                   if (cookie.substring(0, name.length + 1) == (name + '=')) {
                                                       cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                                                       break;
                                                   }
                                               }
                                           }
                                           return cookieValue; 
                                    }
                                       if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
                                           // Only send the token to relative URLs i.e. locally.
                                           xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
                                        }
                                    }
                                });
       $.ajax({
               type: "POST",
               url: "/recomet/addwish3/",
               data: JSON.stringify({"iditem":iditem}),
               dataType: "json",
               contentType:"application/json",
               success: function(data) {
                    //alert('thanks for add....');
                    //var jsonStr = JSON.stringify(data, null, 4);
                    //alert(jsonStr);             
                }
       });
   });
    

    $( "#btnvote-useful" ).click(function( ev ) {

       var value = 'Yes';
       document.getElementById("btnvote-useful").disabled = true;
       
       $.ajaxSetup({
                                       beforeSend: function(xhr, settings) {
                                       function getCookie(name) {
                                           var cookieValue = null;
                                           if (document.cookie && document.cookie != '') {
                                               var cookies = document.cookie.split(';');
                                               for (var i = 0; i < cookies.length; i++) {
                                                   var cookie = jQuery.trim(cookies[i]);
                                                   // Does this cookie string begin with the name we want?
                                                   if (cookie.substring(0, name.length + 1) == (name + '=')) {
                                                       cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                                                       break;
                                                   }
                                               }
                                           }
                                           return cookieValue;
                                       }
                                       if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
                                           // Only send the token to relative URLs i.e. locally.
                                           xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
                                       }
                                     }
                                    });
       $.ajax({
               type: "POST",
               //url: "/drag/"+msg+"/",
               url: "/recomet/view_profile/{{r.id}}/",
               data: JSON.stringify({"value": value }),
               dataType: "json",
               contentType:"application/json",
               success: function(data) {
                     alert("funciono: " + data.msg);
                                           //console.log('message :'+data.message);
           }
       });
    });
    //termina funcion para boton de votar review useful
    
    //espacio para agregar mas funciones
    //boton para cancelar el modal----------
    $("#btncancel").on('click', function(){
        $("#myModal").modal('hide');
        
    });

    $("input[type=radio][name=optradio]").click(function(){
        var value = $(this).val();
        //alert(value);
    });



        
    //CHECAR SI SALVA Y REFRESCA DATOS JSON DE REVIEWS EN VIEW_PROFILE DEL RESTAURANT.
    $(document).on('click','#btnsave', function(){
        //alert("hola estamos trabajando...");
        var title=$("#title").val();
        var good=$("#good").val();
        var bad=$("#bad").val();
        var rat=$("input:radio:checked").val();
        var cty =$('#countriesall').val(); 
        
        $.ajaxSetup({
                                        beforeSend: function(xhr, settings) {
                                        function getCookie(name) {
                                            var cookieValue = null;
                                            if (document.cookie && document.cookie != '') {
                                                var cookies = document.cookie.split(';');
                                                for (var i = 0; i < cookies.length; i++) {
                                                    var cookie = jQuery.trim(cookies[i]);
                                                    // Does this cookie string begin with the name we want?
                                                    if (cookie.substring(0, name.length + 1) == (name + '=')) {
                                                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                                                        break;
                                                    }
                                                }
                                            }
                                            return cookieValue;
                                        }
                                        if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
                                            // Only send the token to relative URLs i.e. locally.
                                            xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
                                        }
                                      }
                                     });
        $.ajax({
                type: "POST",
                url: "/recomet/addreviewmodal/{{r.id}}/",
                data: JSON.stringify({"title":title, "bad":bad, "good":good, "rat":rat, "cty":cty }),
                dataType: "json",
                contentType:"application/json",
                success: function(data) {
                    var jsonStr = JSON.stringify(data, null, 4);
                    //alert(jsonStr);
                    var txt="";
                    for (var i=0; i<jsonStr.length; i++){ 
                        txt += "<div class='thumbnail'>";
                        txt += "<div class='caption'> <span class='glyphicon glyphicon-user' aria-hidden='true'></span> <b>&nbsp;"+data.review[i].user+"</font></b>&nbsp; ("+data.review[i].country+")** <span class='bfh-countries' data-country='"+data.review[i].country +"' data-flags='true'></span></div>";
                        
                        if (data.review[i].rating=='1'){
                            txt += "<p><span class='glyphicon glyphicon-star' aria-hidden='true'></span>";
                        }
                        if (data.review[i].rating=='2'){
                            txt += "<p><span class='glyphicon glyphicon-star' aria-hidden='true'></span><span class='glyphicon glyphicon-star' aria-hidden='true'></span>";
                        }
                        if (data.review[i].rating=='3'){
                            txt += "<p><span class='glyphicon glyphicon-star' aria-hidden='true'></span><span class='glyphicon glyphicon-star' aria-hidden='true'></span><span class='glyphicon glyphicon-star' aria-hidden='true'></span>";
                        }
                        if (data.review[i].rating=='4'){
                            txt += "<p><span class='glyphicon glyphicon-star' aria-hidden='true'></span><span class='glyphicon glyphicon-star' aria-hidden='true'></span><span class='glyphicon glyphicon-star' aria-hidden='true'></span><span class='glyphicon glyphicon-star' aria-hidden='true'></span>";
                        }
                        if (data.review[i].rating=='5'){
                            txt += "<p><span class='glyphicon glyphicon-star' aria-hidden='true'></span><span class='glyphicon glyphicon-star' aria-hidden='true'></span><span class='glyphicon glyphicon-star' aria-hidden='true'></span><span class='glyphicon glyphicon-star' aria-hidden='true'></span><span class='glyphicon glyphicon-star' aria-hidden='true'></span>";
                        }
                        txt += "<br><i>"+data.review[i].title+"</i></p>  <p><span class='glyphicon glyphicon-ok-circle' aria-hidden='true'></span> &nbsp;"+data.review[i].good+"</p>  <p><span class='glyphicon glyphicon-remove-circle' aria-hidden='true'></span> &nbsp;"+data.review[i].bad+"</p>";      
                        txt += "<p><i class='small'>"+data.review[i].review_time+"</i></p> </div>";
                        
                        document.getElementById('container').innerHTML = txt;
                    }
                }
        });

    });






});//este es el final de document.ready


</script>









<!--script src="https://maps.googleapis.com/maps/api/js?v=3&sensor=false"></script-->
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
    <script>
            
            function initialize() {
                var mapOptions = {
                    zoom:3
                    };
                var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);
                
                var bounds = new google.maps.LatLngBounds();

                function addMarker(lat, lng, title) {
                    var position = new google.maps.LatLng(lat, lng);
                    var marker = new google.maps.Marker({
                        position: position,
                        map: map,
                        title: title
                    });
                    bounds.extend(position);
                }
                
                addMarker({{ r.latitude }}, {{ r.longitude }}, "{{ r.name }}");
                
                map.fitBounds(bounds);
            }
            google.maps.event.addDomListener(window, 'load', initialize);
    </script>





{% endblock %}



  
<br><br><br><br>

  
<div><h3 class="page-header"><b>Reviews </b></h3></div>

  {% if r.url %}<a href="{{ r.url }}"><img width="50" height="50" src="{{r.urlimg}}" class="img-thumbnail"/> </a>{% else %}<img width="50" height="50" src="{{r.urlimg}}" class="img-thumbnail"/>{% endif %}
<!--a href="/recomet/addreview/{{ r.id }}/"> Add Review </a><br-->

<!-- Button trigger modal -->
<button type="button" id="btnreview" class="btn btn-default" data-toggle="modal" data-target="#myModal">
 Write a Review
</button>
<!-- BOTON PARA ADD REVIEW -->
<!--a class="btn btn-default" href="/recomet/addreview/{{ r.id }}/" role="button">Add Review</a-->
<br><br>

<div id="container" class="container-fluid">
    {% if rev %}
        <div class="row">
            {% for i in rev %}
                <div class="col-md-8">
                    <div class="thumbnail">    
                        <div class="caption">
                            <span class="glyphicon glyphicon-user" aria-hidden="true"></span> <b>&nbsp; {{ i.user }} </font></b>&nbsp; ({{i.country}})
                            <!--img class="country-select-flag" id="{{i.country.flag_id}}" style="margin: 6px 4px 0" src="{{i.country.flag}}"><i>{{country.name}}</i-->
                            <img class="country-select-flag" id="{{i.country.numeric}}" style="margin: 6px 4px 0" src="{{i.country.flag}}"><i>{{i.country.name}}</i>
                        </div>
                            
                            <p><b>{{i.title}}</b></p> 
                            <p><span class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span> &nbsp; {{ i.good }}</p>
                            <p><span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span> &nbsp; {{ i.bad }}</p>
                            <!--b>My opinion: &nbsp;<font color="black">{{ i.rating }}-->
                            <p><i>{{ i.review_time }}</i></p>
                        
                        <!--form>
                            <input type="submit" id="btnvote-useful" value="Useful" class="btn btn-default" onclick="alert('Thanks for vote!')" />
                            <input type="submit" id="btnvote-funny" value="Funny" class="btn btn-default" onclick="alert('Thanks for vote!')" />
                            <input type="submit" id="btnvote-cool" value="Cool" class="btn btn-default" onclick="alert('Thanks for vote!')" />
                        </form-->
                        
                    </div>
                </div>
                
            {% endfor %}
        </div>
    {% else %}
        <div class="row">
            <img  width="20" height="20"   src="https://scontent-dfw.xx.fbcdn.net/hphotos-xat1/v/t1.0-9/11248080_973092776055756_7652585868344800201_n.jpg?oh=e05d733abc9af4734cdf6c03fa3c868d&oe=55D66D58" />
            <span class="glyphicons glyphicons-podcast"></span>
            <font color="red"> <b>No reviews found.</b>  </font>
            <!--div class="alert alert-danger" role="alert" style="width: 50%;"><b><center>No reviews found found.</center></b></div-->
        </div>

    {% endif %}
    
</div>





























<meta charset="utf-8">
    <style>
    #map-canvas {
                height: 500px;
                width: 500px;
            }
    </style>

<script>
//FUNCION PARA EL BOTON MODAL DE REVIEW si funciona-------->
//$( document ).ready(function() {
     
    //$(".bfh-countries li a").click(function(){
   // $(".bfh-countries li a").click(function(){
        //alert('holassss..');
        //alert($(this).attr('data-option'));
      //  var valor = $(this).attr('data-option') ;
        //var valor2 = $('.bfh-selectbox .bfh-selectbox-options ul li > a:selected');
        
       // document.getElementById('data').innerHTML = valor;
        //alert(valor2.toSource());
        //alert(valor);
        //alert(valor2);
   // });
//});
</script>










  <!-- Trigger the modal with a button -->
  <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal1">Open Modal</button>

  <!-- Modal -->
  <div class="modal fade" id="myModal1" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Modal Header</h4>
        </div>
        <div class="modal-body">
          <p>Some text in the modal.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-default" data-dismiss="modal">Save</button>
        </div>
      </div>
      
    </div>
  </div>
  
</div>


    <div class="container">
        <div class="row">
            <div class="col-xs-6 col-md-3">
                <div class="thumbnail">
                    <div class="caption">
                        <h3>User's ratings </h3>
                    </div>
                    Woow, awesome! <br><span class="glyphicon glyphicon-star" aria-hidden="true"></span><span class="glyphicon glyphicon-star" aria-hidden="true"></span><span class="glyphicon glyphicon-star" aria-hidden="true"></span><span class="glyphicon glyphicon-star" aria-hidden="true"></span><span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                    <div class="progress">
                        <div class="progress-bar progress-bar-info progress-bar-striped active" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: {{ percent5 }}%">
                          {% if c5 %}<b><font color="black"> {{ c5 }}</font></b>{% endif %}
                        </div>
                    </div>
                    Yes, I love it!.<br> <span class="glyphicon glyphicon-star" aria-hidden="true"></span><span class="glyphicon glyphicon-star" aria-hidden="true"></span><span class="glyphicon glyphicon-star" aria-hidden="true"></span><span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                    <div class="progress">
                        <div class="progress-bar progress-bar-info progress-bar-striped active" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: {{ percent4 }}%">
                          {% if c4 %}<b><font color="black"> {{ c4 }}</font></b>{% endif %}
                        </div>
                    </div>
                    Normal, Ok. <br> <span class="glyphicon glyphicon-star" aria-hidden="true"></span><span class="glyphicon glyphicon-star" aria-hidden="true"></span><span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                    <div class="progress">
                        <div class="progress-bar progress-bar-info progress-bar-striped active" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: {{ percent3 }}%">
                          {% if c3 %}<b><font color="black"> {{ c3 }}</font></b>{% endif %}
                        </div>
                    </div>
                    Well, I've had better experiences. <br> <span class="glyphicon glyphicon-star" aria-hidden="true"></span><span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                    <div class="progress">
                        <div class="progress-bar progress-bar-info progress-bar-striped active" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: {{ percent2 }}%">
                          {% if c2 %}<b><font color="black"> {{ c2 }}</font></b>{% endif %}
                        </div>
                    </div>
                    Hu, no thanks.<br> <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                    <div class="progress">
                        <div class="progress-bar progress-bar-info progress-bar-striped active" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: {{ percent1 }}%">
                          {% if c1 %} <b><font color="black">{{ c1 }}</font></b>{% endif %}
                        </div>
                    </div>                    
                </div>
            </div>
        </div>
    </div>
  <br>
    
    
    
<!--script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js">
    </script>
    <script>
    $(document).ready(function(){
    setInterval(function(){cache_clear()},10000);
    });
    function cache_clear()
   {
    window.location.reload(true);
   }
</script-->



<h3>Ratings </h3><br>

<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading"><b>{{ r.name}}</b></div>
  <!-- Table -->
  <table class="table table-condensed">
     <tbody>
          <tr class="active"><td>User </td><td>Rating </td><td>Date </td></tr>
          <!-- Aplicadas en las filas -->
          {% if rat %}
               {% for item in rat %}   
                    <tr class="warning"><td>{{item.user}} </td><td>{{ item.rating}} </td><td>{{item.date}}  </td></tr>    
               {% endfor %}
          {% else %}
               <tr><td>  ERROR: No ratings found.</td></tr>
          {% endif %}
     </tbody>
     </table>
</div>




<form action="/recomet/rest/profile/" method="GET">
                                    <a href="http://{{ r.url }}"><b>{{r.name}}</b></a><br>
                                    <!--ul>
                                        <li><a href="/recomet/rating/restaurant/{{ id }}/">Rating : </a></li>
                                        <!--li><a href="/recomet/review/restaurant/{{ id }}/">Reviews</a></li>
                                        <li><a href="/recomet/vote/{{ id }}/"> Vote</a></li>
                                    </ul-->
                                    <h3>Rating</h3>
                                    {{ size }}--
                                    <div class="progress" id="brating">
                                        <div class="progress-bar progress-bar-warning progress-bar-striped active" id="barat" role="progressbar" aria-valuenow="" aria-valuemin="0" aria-valuemax="100" style=" width: {{avg2}}%;"  >
                                         {% if size %}
                                            {% for i in size %}
                                                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                            {% endfor %}
                                        {% endif %}

                                        </div>
                                    </div>  
                                </form>




{{ form.as_p }}
onclick='alert("Rating saved, !thank you!")'
<!--div class="container">
        {% if r %}
          <div class="col-xs-6 col-md-3">
                    <div class="thumbnail">
                        <a href="{{r.urlimg}}"><img width="240" height="200" src="{{i.urlimg}}" /> </a>
                            <!--<img src="{{i.urlimg}}" width="242" height="200" class="img-rectangle"><br>-->
                            <!--div>
                                <form action="/recomet/rest/profile/" method="GET">
                                    <!--a href="/recomet/view_profile/{{r.id}}/"><b>{{r.name}}</b></a><br-->
                                    <!--ol class="breadcrumb">
                                        <li><a href="/recomet/rest/profile/{{r.item_id}}/"> <span class="glyphicon glyphicon-backward"></span> </a></li>
                                        <li><a href="/recomet/rest/profile/{{r.item_id}}/"><b>Back </b></a></li>
                                        <li><a href="/recomet/rating/restaurant/{{ id }}/">Ratings</a></li>
                                        <li><a href="/recomet/review/restaurant/{{ id }}/">Reviews</a></li>
                                        <li><a href="/recomet/vote/{{ id }}/"> Vote</a></li>
                                        <li><a href="/recomet/distancia/{{ id }}/"> Google Maps</a></li>
                                    </ol>
                                </form>
                                <form action="/recomet/addwishlist/{{ i.item.id }}/{{ id }}/" method="GET">
                                    <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>                                
                                    <input class="btn btn-primary" role="button" type=submit value="+Wishlist">
                                </form>
                            </div>
                    </div>
                    
               </div>
        {% else %}
                <div class="row">
                    <p><B> No restaurants found.</B></p>
                </div>
        {% endif %} 
    </div>
    






     <form action="/recomet/view_profile/" method="GET">
    <table class="table table-condensed">
        <tbody>
        <tr><td>Address :</td>  <td><b>{{ r.address }}  </b></td></tr>
        <tr><td>City :</td>      <td><b>{{ r.city }}      </b></td></tr>
        <tr><td>URL :</td>      <td><b>{{ r.url }}      </b></td></tr>
        <tr><td>Price :</td>      <td><b>{{ r.price_range.type_price }}      </b></td></tr>
        <tr><td>Phone :</td>      <td><b>{{ r.phone }}      </b></td></tr>
        <tr><td>Alcohol :</td>      <td><b>{{ r.alcohol.type_alcohol }}      </b></td></tr>
        <tr><td>Smoking area :</td>      <td><b>{{ r.smoking_area }}      </b></td></tr>
        <tr><td>Dress code:</td>      <td><b>{{ r.dress_code.type_dresscode }}      </b></td></tr>
        <tr><td>Atmosphere :</td>      <td><b>{{ r.atmosphere.type_atmosphere }}      </b></td></tr>
        <tr><td>Latitude :</td>      <td><b>{{ r.latitude }}      </b></td></tr>
        <tr><td>Longitude :</td>      <td><b>{{ r.longitude }}      </b></td></tr>
        
          <tr>
            <td>       
            Address :<b>{{ r.address }}</b><br>
            URL :<b>{{ r.url }}</b><br>
            City :<b>{{ r.city }}</b><br>
            Price range :<b>{{ r.price_range.type_price }}</b><br>
            Phone :<b>{{ r.phone }}</b><br>
            Alcohol :<b>{{ r.alcohol.type_alcohol }}</b><br>
            Smoking area :<b>{{ r.smoking_area }}</b><br>
            Dress code :<b>{{ r.dress_code.type_dresscode }}</b><br>
            Atmosphere :<b>{{ r.atmosphere.type_atmosphere}}</b><br>
            Latitude :<b>{{ r.latitude }}</b><br>
            Altitude:<b>{{ r.longitude }}</b><br>
            </td>
        </tr>
          
        </tbody>
    </table>
</div>