<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
    "http://www.w3.org/TR/html4/strict.dtd"
    >
{% extends 'restaurant/base.html'%}

{% block content%}
<!-- Navigation -->
<div class="container">
    <div class="row">
        <div class="col-md-2">
            <img src="http://i.imgur.com/VTwHzHA.png" height="" width="" class="img-thumbnail">
        </div>
        <div class="col-md-10">
            
            <nav class="navbar navbar-default inverse"> <!--class="navbar navbar-inverse navbar-fixed-top" role="navigation">-->
    
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                    </button>
                </div>
               
                <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li><a href="/recomet/">Home</a></li>
                    <li><a href="/recomet/recomtest/">Recommendations</a></li>
                    <li><a href="/recomet/user/profile/{{ u.user.id }}/">My Profile</a></li>
                    <li><a href="/recomet/usercontext/{{u.user.id}}/">My Context</a></li>
                    <li class="active"><a href="/recomet/wishlist/{{u.user.id}}/">My Wishlist</a></li>
                    <li><a href="/recomet/topten/">Community</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                  <li><a href="/accounts/logout/"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
                </ul>
                </div>
            </div>
            </nav>
        </div>   
    </div>
</div>

 <div>
     {% if u != 'Guest'%}
        <center> <p class="small">Login as <b>{{ u }}.</b></p></center>
    {% endif %}
    <h3 class="page-header"><b>My Wishlist</b></h3>
     <!--a href="#"><img src="https://scontent-dfw1-1.xx.fbcdn.net/hphotos-xaf1/v/t1.0-9/10672184_984767981554902_2416143717476529463_n.jpg?oh=3ab4873200d0971240211cf34c740b77&oe=562FDC4B" class="img-thumbnail" alt="MyWishlist" height="40" width="120" ></a-->
</div>

<div id="boton">
    <form action="/recomet/deleteall/" method="GET">                               
        {% if lis %} <input class="btn btn-danger " role="button" type=submit  value="Delete All">
        {% else %}   <input class="btn btn-danger " role="button" type=submit  value="Delete All" disabled="disabled">
        {% endif %} 
    </form>
</div>




<hr>

<div id="container" class="visible-xs-*">
        {% if lis %}
        <div class="row">
            {% for i in lis %}
            <div class="col-md-3">
                    <div class="thumbnail">
                        
                        <a href="/recomet/view_profile/{{i.id}}/"><img  src="{{i.urlimg}}"   width="280" height="200"> </a>
                        <br>
                            <!--<img src="{{i.urlimg}}" width="242" height="200" class="img-rectangle"><br>-->
                            <div >
                                <form action="/recomet/rest/profile/" method="GET">
                                    <a href="/recomet/view_profile/{{i.id}}/"><b>{{i.name}}</b></a><br>
                                    <i>{{ i.address }}</i><br>
                                    <a href="/recomet/view_profile/{{i.item.id}}/" class="pull-right"> <b> More</b></a></li><br><br>
                                </form>
                            </div>
                            
                            <div  >
                                <button type="button" class="btn btn-primary " id="delete" value="{{i.id}}" >Delete</button>
                            </div>
                    </div>
               </div>
            {% endfor %}
        </div>
        
        {% else %}
        
        <div class="row">
            <img  width="20" height="20" src="http://i.imgur.com/QCOoOv4.png" />
            <font color="red"> <b> No restaurants in your wishlist! Go <a href="/recomet/">Home</a> for add. </b></font><br>
        </div>
        
        {% endif %}

</div>

<script>
//--------------------------------------------------------------------------
//FUNCION PARA EL BOTON DE DELETE                               
//--------------------------------------------------------------------------
$(document).ready(function(){    
    $(".btn-primary").click(function (){
        var iditem= $(this).val();
        //alert(Are you sure?);
        //document.getElementById('message').innerHTML = msg;
                                $.ajaxSetup({
                                    beforeSend: function(xhr, settings) {
                                    function getCookie(name) {
                                           var cookieValue = null;
                                           if (document.cookie && document.cookie != '') {
                                               var cookies = document.cookie.split(';');
                                               for (var i = 0; i < cookies.length; i++) {
                                                   var cookie = jQuery.trim(cookies[i]);
                                                   // Does this cookie string begin with the name we want?
                                                   if (cookie.substring(0, name.length + 1) == (name + '=')) {
                                                       cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                                                       break;
                                                   }
                                               }
                                           }
                                           return cookieValue; 
                                    }
                                       if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
                                           // Only send the token to relative URLs i.e. locally.
                                           xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
                                        }
                                    }
                                });
       $.ajax({
               type: "POST",
               url: "/recomet/deletewishlist/",
               data: JSON.stringify({"iditem":iditem}),
               dataType: "json",
               contentType:"application/json",
               success: function(data) {
                    var jsonStr = JSON.stringify(data, null, 4);
                    //alert(jsonStr);
                    //alert(jsonStr.length);
                    var txt="";
                    if (jsonStr.length>25){
                            var button ="";
                            button += "<form action='/recomet/deleteall/' method='GET'><input class='btn btn-danger' id='deleteall' role='button' type='submit' onclick='Alert('Are you sure?')' value='Delete All'>";
                            button += "</form>";
                            document.getElementById('boton').innerHTML = button;
                    }
                     else{
                        var msg="";
                        msg +="<div class='row'><img  width='20' height='20' src='https://scontent-dfw.xx.fbcdn.net/hphotos-xat1/v/t1.0-9/11248080_973092776055756_7652585868344800201_n.jpg?oh=e05d733abc9af4734cdf6c03fa3c868d&oe=55D66D58' /><span class='glyphicons glyphicons-podcast'></span><font color='red'> <b> No restaurants in your wishlist! </b></font><br></div>";
                        document.getElementById('container').innerHTML = msg;
                        $("#boton").hide();
                        
                    }

                    for (var i=0; i<jsonStr.length; i++){
                        //alert(data.restaurant[i].id);
                        txt += "<div class='col-sm-6 col-md-3'><div class='thumbnail'>";
                        txt += "<a href="+ "/recomet/view_profile/"+data.restaurant[i].id+"/" + ">" + "<img src="+data.restaurant[i].urlimg+" width='240' height='200' ></a><br>"+" <div ><b>"+"<a href="+ "/recomet/view_profile/"+data.restaurant[i].id+"/" + ">"+data.restaurant[i].name+"</b></a><br>"+data.restaurant[i].address+"</li><br>"+"<a href="+ "/recomet/view_profile/"+data.restaurant[i].id+"/ class='pull-right' " + "><b>More</b></a>" +"<br></div>";
                        txt += "<div > <button type='button' class='btn btn-primary' id='button2' value="+data.restaurant[i].id+" >Delete</button>"+"</div></div></div>";

                        document.getElementById('container').innerHTML = txt;
                    } 
               }
       });
   });
    
     $(document).on('click','#button2', function(){
        var iditem= $(this).val();
        //alert('Restaurant deleted!');
        //document.getElementById('message').innerHTML = msg;
                                $.ajaxSetup({
                                    beforeSend: function(xhr, settings) {
                                    function getCookie(name) {
                                           var cookieValue = null;
                                           if (document.cookie && document.cookie != '') {
                                               var cookies = document.cookie.split(';');
                                               for (var i = 0; i < cookies.length; i++) {
                                                   var cookie = jQuery.trim(cookies[i]);
                                                   // Does this cookie string begin with the name we want?
                                                   if (cookie.substring(0, name.length + 1) == (name + '=')) {
                                                       cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                                                       break;
                                                   }
                                               }
                                           }
                                           return cookieValue; 
                                    }
                                       if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
                                           // Only send the token to relative URLs i.e. locally.
                                           xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
                                        }
                                    }
                                });
       $.ajax({
               type: "POST",
               url: "/recomet/deletewishlist/",
               data: JSON.stringify({"iditem":iditem}),
               dataType: "json",
               contentType:"application/json",
               success: function(data) {
                    var jsonStr = JSON.stringify(data, null, 4);
                    //alert(jsonStr);
                    //alert(jsonStr.length);
                    var txt="";
                    if (jsonStr.length>25){
                           var button ="";
                            button += "<form action='/recomet/deleteall/' method='GET'><input class='btn btn-danger' id='deleteall' role='button' type='submit' onclick='Alert('Are you sure?')' value='Delete All'>";
                            button += "</form>";
                            document.getElementById('boton').innerHTML = button;
                    }
                    else{
                        var msg="";
                        msg +="<div class='row'><img  width='20' height='20' src='http://i.imgur.com/QCOoOv4.png' /><font color='red'> <b> No restaurants in your wishlist! </b></font><br></div>";
                        document.getElementById('container').innerHTML = msg;
                        $("#boton").hide();
                    }
                    
                    for (var i=0; i<jsonStr.length; i++){
                        //alert(data.restaurant[i].id);
                        txt += "<div class='col-sm-6 col-md-3'><div class='thumbnail'>";
                        txt += "<a href="+ "/recomet/view_profile/"+data.restaurant[i].id+"/" + ">" + "<img src="+data.restaurant[i].urlimg+" width='240' height='200' ></a><br>"+" <div ><b>"+"<a href="+ "/recomet/view_profile/"+data.restaurant[i].id+"/" + ">"+data.restaurant[i].name+"</b></a><br>"+data.restaurant[i].address+"</li><br>"+"<a class='pull-right' href="+ "/recomet/view_profile/"+data.restaurant[i].id+"/" + "><b>More</b></a>" +"<br></div>";
                        txt += "<button type='button' class='btn btn-primary' id='button2' value="+data.restaurant[i].id+" >Delete</button>"+"</div></div></div>";

                        document.getElementById('container').innerHTML = txt;
                    }     
                }
       });
   });

});
</script>


{% endblock %}




<div id="btndeleteall">
    <form action="/recomet/deleteall/" method="GET">                               
      <input class="btn btn-danger pull-right" role="button" type=submit onclick="Alert('Are you sure?')" value="Delete All">
    </form>
</div>

<div class="col-xs-6 col-md-3">
                <div class="thumbnail">
                     <div class="caption">
                        <h4><a href="/recomet/view_profile/{{item.id}}/"><center><b>{{item.name}}</b></center></a></h4>
                        <a href="/recomet/view_profile/{{item.id}}/"><img src="{{item.urlimg}}" class="img-thumbnail" > </a>

                        <!--form action="/recomet/deletewishlist/{{ item.id }}/" method="GET"-->
                        <button type="button" class="btn btn-primary " id="delete" value="{{item.id}}" >Delete</button>
                        <!--input class="btn btn-default " id="delete" role="button" type=submit value="Delete"-->
                        <!--/form-->
                    </div>
                </div>
            </div>




            
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                     <div class="caption">
                        <h4><a href="/recomet/view_profile/{{item.id}}/"><center><b>{{item.name}}</b></center></a></h4>
                        <a href="/recomet/view_profile/{{item.id}}/"><img src="{{item.urlimg}}" class="img-thumbnail responsive" > </a>

                        <!--form action="/recomet/deletewishlist/{{ item.id }}/" method="GET"-->
                        <button type="button" class="btn btn-primary " id="delete" value="{{item.id}}" >Delete</button>
                        <!--input class="btn btn-default " id="delete" role="button" type=submit value="Delete"-->
                        <!--/form-->
                    </div>
                </div>
            </div>









<div class="row">
    
    {% if lis %}
        <br>
        {% for item in lis %}
            <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
              <div class="caption">
                {{item.name}} <br>
            </div>
            </div>
            </div>
        {% endfor %}
    {% else %}
        <p><B>ERROR: No restaurants added in Wishlist.</B></p>
    {% endif %} 
</div>

    
<b>My Wishlist</b><br>

{% if list %}
    <br>
    Restaurantes:
    <br>
    {% for i in list %}
        * {{ i }}<br>
    {% endfor %}
{% else %}

   <br> No restaurant added in Wishlist.<br>

{% endif %}
<br>

