
{% extends 'restaurant/base.html'%}
{% block content %}
{% if u != 'Guest'%}
<div class="container">
    <div class="row">
        <div class="col-md-2">
            <img src="http://i.imgur.com/VTwHzHA.png" height="" width="" class="img-thumbnail">
        </div>
        <div class="col-md-10">
            <nav class="navbar navbar-default inverse"> 
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/recomet/">Home</a></li>
                    <li><a href="/recomet/recomtest/">Recommendations</a></li>
                    <li><a href="/recomet/user/profile/{{ u.id }}/">My Profile</a></li>
                    <li><a href="/recomet/usercontext/{{u.id}}/">My Context</a></li>
                    <li><a href="/recomet/wishlist/{{u.id}}/">My Wishlist</a></li>
                    <li><a href="/recomet/topten/">Community</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                  <li><a href="/accounts/logout/"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
                </ul>
                </div>
            </div>
            </nav>
        </div>
    </div>
</div>
{% else %}
<div class="container">
    <div class="row">
        <div class="col-md-2">
            <img src="http://i.imgur.com/VTwHzHA.png" height="" width="" class="img-thumbnail">
        </div>
        <div class="col-md-10"> 
            <nav class="navbar navbar-default inverse"> 
           <div class="container-fluid">
               <div class="navbar-header">
                   <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                     <span class="icon-bar"></span>
                     <span class="icon-bar"></span>
                     <span class="icon-bar"></span>
                   </button>
                </div>
               <div class="collapse navbar-collapse" id="myNavbar">
               <ul class="nav navbar-nav">
                   <li class="active"><a href="/recomet/">Home</a></li>
                   <li><a href="/recomet/guest/">Recommendations</a></li>
                   <li><a href="/accounts/register">Register</a></li>
               </ul>
               <ul class="nav navbar-nav navbar-right">
                 <li><a href="/accounts/login"><span class="glyphicon glyphicon-log-in"></span> Login </a></li>
               </ul>
               </div>
           </div>
       </nav>
        </div>   
    </div>
</div>
{% endif %}
{% if not rat %}
    <div>
         <b class="small pull-right"><img  width="20" height="20" src="http://i.imgur.com/QCOoOv4.png" />
         <font color="red"> You didn't add any rating. Please vote to get recommendations. </font></b>
    </div>
{% endif %}
<br>
<div class="container">
    {% if u != 'Guest'%}
       <center> <p class="small">Login as <b>{{ u }}.</b>
       {% if u.price %}
       <div class="col-md-3">
        <div class="thumbnail">
            <p class="small">Your favorite price is <b>{{u.price}}</b></p>
        </div>
        </div>
       {% endif %}
       {% if u.cuisine.all %}
       <div class="col-md-3">
        <div class="thumbnail">
            <p class="small">Your favorite food <br>
            <b>
             {% for c in u.cuisine.all%}
                 &nbsp;[{{ c.cuisine }}] 
             {% endfor %}
            </b>
            </p>
        </div>
        </div>
       {% endif %}
       {% if u.atribute.all %}
        <div class="col-md-3">
        <div class="thumbnail">
            <p class="small">What do you like? <br>
            <b>
             {% for a in u.atribute.all%}
                 &nbsp;[{{ a.atribute }}] 
             {% endfor %}
            </b>
            </p>
        </div>
        </div>
       {% endif %}
    {% endif %}
<div>
<!--AGREGAMOS LA LISTA DE RESTAURANTES-->
<form role="form" action="" method="POST">{% csrf_token %}
<b class="header">Search Restaurants by: </b>&nbsp; 
<div id="tags"> </div>
<hr>
<div class="container menu">
    <div class="row">
        <div class="col-sm-2 col-md-3">
           
            <div class="panel-group" id="accordion">
                
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" >
                            Price</a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse">
                       <div class="panel-body">
                            <table class="table">
                                <tr><td><a value="1" href="#">Cheap $</a></td></tr>
                                <tr><td><a value="1" href="#">Regular $$</a></td></tr>
                                <tr><td><a value="1" href="#">Expensive $$$</a></td></tr>
                                <tr><td><a value="1" href="#">Too expensive $$$$</a></td></tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                            Instalations</a>
                        </h4>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse">
                        <div class="panel-body">
                            <table class="table">
                                <tr><td> <a value="2" href="#">Indoor</a></td></tr>
                                <tr><td> <a value="2" href="#">Outdoor</a> </td></tr>
                                <tr><td> <a value="2" href="#">Terrace</a></td></tr>
                                <tr><td> <a value="2" href="#">Garden</a></td></tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                            Parking</a>
                        </h4>
                    </div>
                    <div id="collapseThree" class="panel-collapse collapse">
                        <div class="panel-body">
                            <table class="table">
                                <tr><td><a value="3" href="#">No parking</a></td></tr>
                                <tr><td><a value="3" href="#">Free parking</a> </td></tr>
                                <tr><td><a value="3" href="#">Valet parking</a></td></tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
                            Atmosphere</a>
                        </h4>
                    </div>
                    <div id="collapseFour" class="panel-collapse collapse">
                        <div class="panel-body">
                            <table class="table">
                                <tr><td><a value="4" href="#">Relax</a></td></tr>
                                <tr><td><a value="4" href="#">Familiar</a> </td></tr>
                                <tr><td><a value="4" href="#">Friends</a></td></tr>
                                <tr><td><a value="4" href="#">Bussines</a></td></tr>
                                <tr><td><a value="4" href="#">Romantic</a></td></tr>
                            </table>
                        </div>
                    </div>
                </div>
                 <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive">
                            Payment</a>
                        </h4>
                    </div>
                    <div id="collapseFive" class="panel-collapse collapse">
                        <div class="panel-body">
                            <table class="table">
                                <tr><td> <a value="5" href="#">Credit/Debit card</a></td></tr>
                                <tr><td> <a value="5"href="#">Cash</a> </td></tr>
                            </table>
                        </div>
                    </div>
                </div>
                 <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseSix">
                            Dresscode</a>
                        </h4>
                    </div>
                    <div id="collapseSix" class="panel-collapse collapse">
                        <div class="panel-body">
                            <table class="table">
                                <tr><td><a value="6" href="#">Casual</a></td></tr>
                                <tr><td><a value="6" href="#">Informal</a> </td></tr>
                                <tr><td><a value="6" href="#">Formal</a></td></tr>
                            </table>
                        </div>
                    </div>
                </div>
                 <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseSeven">
                            Alcohol</a>
                        </h4>
                    </div>
                    <div id="collapseSeven" class="panel-collapse collapse">
                        <div class="panel-body">
                            <table class="table">
                                <tr><td><a value="7" href="#">No alcohol</a></td></tr>
                                <tr><td><a value="7" href="#">Wine-beer</a> </td></tr>
                            </table>
                        </div>
                    </div>
                </div>
                 <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseEight">
                            Cuisine</a>
                        </h4>
                    </div>
                    <div id="collapseEight" class="panel-collapse collapse">
                        <div class="panel-body">
                            <table class="table">
                                <tr><td><a value="8" href="#">Japanese</a></td></tr>
                                <tr><td><a value="8" href="#">Chinese</a> </td></tr>
                                <tr><td><a value="8" href="#">Italian</a></td></tr>
                                <tr><td><a value="8" href="#">Argentinean</a></td></tr>
                                <tr><td><a value="8" href="#">Cantonese</a></td></tr>
                                <tr><td><a value="8" href="#">Mandarin</a></td></tr>
                                <tr><td><a value="8" href="#">Mongolian</a> </td></tr>
                                <tr><td><a value="8" href="#">Arabic</a></td></tr>
                                <tr><td><a value="8" href="#">Greek</a></td></tr>
                                <tr><td><a value="8" href="#">Spanish</a></td></tr>
                                <tr><td><a value="8" href="#">Brasilian</a></td></tr>
                                <tr><td><a value="8" href="#">Swiss</a> </td></tr>
                                <tr><td><a value="8" href="#">Szechuan</a></td></tr>
                                <tr><td><a value="8" href="#">Asian</a></td></tr>
                                <tr><td><a value="8" href="#">International</a></td></tr>
                                <tr><td><a value="8" href="#">Steak Grill</a></td></tr>
                                <tr><td><a value="8" href="#">Vegetarian</a> </td></tr>
                                <tr><td><a value="8" href="#">Natural/Healty/Light</a></td></tr>
                                <tr><td><a value="8" href="#">Traditional mexican</a></td></tr>
                                <tr><td><a value="8" href="#">Tacos</a></td></tr>
                                <tr><td><a value="8" href="#">Mediterranean</a></td></tr>
                                <tr><td><a value="8" href="#">Middle Eastern</a> </td></tr>
                                <tr><td><a value="8" href="#">American/Fast Food</a></td></tr>
                                <tr><td><a value="8" href="#">Gourmet</a></td></tr>
                                <tr><td><a value="8" href="#">Pizza</a></td></tr>
                                <tr><td><a value="8" href="#">Bar/Beer</a></td></tr>
                                <tr><td><a value="8" href="#">Tapas Cafe/Bar</a> </td></tr>
                                <tr><td><a value="8" href="#">French</a></td></tr>
                                <tr><td><a value="8" href="#">Birds</a></td></tr>
                                <tr><td><a value="8" href="#">Seafood</a></td></tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>      
        <div id="favorite"> </div>
        <div id="myalert" > </div>
        <div class="col-sm-9 col-md-9">
        <div id=container class="visible-xs-*">
            {% if pop_item %}
            <div class="row">
            {% for i in pop_item %}
                    <div class="col-md-4">
                        <div class="thumbnail">
                            
                            <a href="/recomet/view_profile/{{i.id}}/"><img  src="{{i.urlimg}}"   width="280" height="200"> </a>
                            <br>
                                <!--<img src="{{i.urlimg}}" width="242" height="200" class="img-rectangle"><br>-->
                                <div >
                                    <form action="/recomet/rest/profile/" method="GET">
                                        <a href="/recomet/view_profile/{{i.id}}/"><b>{{i.name}}</b></a><br>
                                        <i>{{ i.address }}</i><br>
                                        <a href="/recomet/view_profile/{{i.item.id}}/" class="pull-right"> <b>More</b> </a><br>
                                    </form>
                                </div>
                                <div id="{{i.id}}" class="text-success">   </div>          
                                <div >
                                   <button type="button" class="btn btn-primary " id="button1" value="{{i.id}}" >Add my Wishlist</button>
                                   &nbsp;&nbsp; <button type="button" class="btn btn-success " id="buttonlike" value="{{i.id}}" >Like &nbsp;<span class='glyphicon glyphicon-heart' aria-hidden='true'></span></button>
                                </div>
                                 <!--div>
                                   <button type="button" class="btn btn-success " id="button1" value="{{i.id}}" >Like</button>
                                </div-->
                        </div>
                    </div>
            {% endfor %}
            </div>
            {% else %}
            <div class="header">
                <span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span>
                <b> Please use a filter to start. </b>
            </div>
            {% endif %}
        </div>
        </div>
    </div>
</div>
{% endblock content %}   

<script>
//--------------------------------------------------------------------------
//FUNCION PARA EL BOTON DE ADDWISHLIST                                     |
//--------------------------------------------------------------------------
$(document).ready(function(){
    //Funcion para filtros de acordion.
    $(".table tr td a").click(function () {
           //document.getElementById('container').innerHTML = "<center><h3><font color='blue'><i>Loading...</font></i></h3></center>";
           var menutxt = $(this).text();
            //document.getElementById('myalert').innerHTML = " "; 
           //alert($(this).text());
           //alert(dropdowntxt); este muetsra eel valor del dropdown
           var menuval= $(this).val(this.getAttribute("value"));
           document.getElementById('tags').innerHTML = "<b class='label label-success'>"+menutxt+"</b>";
            $(this).addClass('active');
           //document.getElementById('features').innerHTML = dropdownval; 
           
           //Para activar el color del boton pulsado por el usuario.
           //$(this).parents(".panel panel-default").find('.panel-collapse collapse').find('.panel-body').find('.table').text($(this).text()).addClass("active");
           //$(this).find('.table tr td a').addClass('active');

           //$(this).parents(".btn-group").find('.selection').text($(this).text());
           //alert(menutxt);
           //alert(menuval);
           //Llenado de caracteristicas BUSCAR ATRIBUTOS DE DROPDOWNVAL EN JSCRIPT
           //features = features + dropdowntxt + ", " + dropdownval + ", ";
           
                                $.ajaxSetup({
                                    beforeSend: function(xhr, settings) {
                                    function getCookie(name) {
                                           var cookieValue = null;
                                           if (document.cookie && document.cookie != '') {
                                               var cookies = document.cookie.split(';');
                                               for (var i = 0; i < cookies.length; i++) {
                                                   var cookie = jQuery.trim(cookies[i]);
                                                   // Does this cookie string begin with the name we want?
                                                   if (cookie.substring(0, name.length + 1) == (name + '=')) {
                                                       cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                                                       break;
                                                   }
                                               }
                                           }
                                           return cookieValue; 
                                    }
                                       if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
                                           // Only send the token to relative URLs i.e. locally.
                                           xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
                                        }
                                    }
                                });
       $.ajax({
               type: "POST",
               url: "/recomet/",
               data: JSON.stringify({"menutxt":menutxt, "menuval":menuval}),
               dataType: "json",
               contentType:"application/json",
               success: function(data) {
                    // alert("funciono: " + data);
                    var jsonStr = JSON.stringify(data, null, 4);
                    //alert(jsonStr);
                    var txt="";
                    
                    if (jsonStr.length==24){
                        //alert('Restaurants no matched with', + menutext+'.');
                        document.getElementById('myalert').innerHTML = "<center><span class='glyphicon glyphicon-remove' aria-hidden='true'></span><a class='danger alert-danger'><b> No restaurant matched with </b> <b><font color='red'>" + menutxt + ".</a></font> </b></center><br>";
                        $("#myalert").fadeIn(3000);
                        $("#myalert").fadeOut(4000);
                    }
                    for (var i=0; i<jsonStr.length; i++){
                            //alert(data.restaurant[i].id);
                            txt += "<div class='col-md-4'><div class='thumbnail'>";  
                            txt += "<a href="+ "/recomet/view_profile/"+data.restaurant[i].id+"/" + ">" + "<img src='"+data.restaurant[i].urlimg+"'  width='280' height='200'></a><br>"+" <div ><b>"+"<a href="+ "/recomet/view_profile/"+data.restaurant[i].id+"/" + ">"+data.restaurant[i].name+"</b></a><br>"+data.restaurant[i].address+"</li><br>"+"<a href="+ "/recomet/view_profile/"+data.restaurant[i].id + "/ class='pull-right'><b>More</b></a>" + "<br>";
                            txt += "</div> <div id='"+data.restaurant[i].id+"' class='text-success'></div> <div ><button type='button' class='btn btn-primary' id='button2' value='"+data.restaurant[i].id+"'>Add my wishlist</button>"+"&nbsp;<button type='button' class='btn btn-success' id='buttonlike2' value='"+data.restaurant[i].id+"'>Like &nbsp;<span class='glyphicon glyphicon-heart' aria-hidden='true'></span> </button>   </div></div></div>";
                            document.getElementById('container').innerHTML = txt;
                    }
                    
                }
       });
   });
//ends accordion.
        //Boton like para insertar rating.
        $(".btn-success").click(function (){
        var iditem= $(this).val();
        $(this).prop('disabled', true);
        //alert('boton funciona');
        //$("#msg").children().css({"color": "red", "border": "2px solid red"});
                                $.ajaxSetup({
                                    beforeSend: function(xhr, settings) {
                                    function getCookie(name) {
                                           var cookieValue = null;
                                           if (document.cookie && document.cookie != '') {
                                               var cookies = document.cookie.split(';');
                                               for (var i = 0; i < cookies.length; i++) {
                                                   var cookie = jQuery.trim(cookies[i]);
                                                   // Does this cookie string begin with the name we want?
                                                   if (cookie.substring(0, name.length + 1) == (name + '=')) {
                                                       cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                                                       break;
                                                   }
                                               }
                                           }
                                           return cookieValue; 
                                    }
                                       if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
                                           // Only send the token to relative URLs i.e. locally.
                                           xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
                                        }
                                    }
                                });
       $.ajax({
               type: "POST",
               url: "/recomet/rating/",
               data: JSON.stringify({"iditem":iditem}),
               dataType: "json",
               contentType:"application/json",
               success: function(data) {
                    var jsonStr = JSON.stringify(data, null, 4);            
                }
       });
   });
  
    //$(".btn-success").click(function (){
    $(document).on('click','#buttonlike2', function(){
        var iditem= $(this).val();
        //alert('boton funciona');
        //$("#buttonlike2").disabled();
        $(this).prop('disabled', true);
        //$(".btn-success").prop('disabled', true);
        //$("#msg").children().css({"color": "red", "border": "2px solid red"});
                                $.ajaxSetup({
                                    beforeSend: function(xhr, settings) {
                                    function getCookie(name) {
                                           var cookieValue = null;
                                           if (document.cookie && document.cookie != '') {
                                               var cookies = document.cookie.split(';');
                                               for (var i = 0; i < cookies.length; i++) {
                                                   var cookie = jQuery.trim(cookies[i]);
                                                   // Does this cookie string begin with the name we want?
                                                   if (cookie.substring(0, name.length + 1) == (name + '=')) {
                                                       cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                                                       break;
                                                   }
                                               }
                                           }
                                           return cookieValue; 
                                    }
                                       if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
                                           // Only send the token to relative URLs i.e. locally.
                                           xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
                                        }
                                    }
                                });
       $.ajax({
               type: "POST",
               url: "/recomet/rating/",
               data: JSON.stringify({"iditem":iditem}),
               dataType: "json",
               contentType:"application/json",
               success: function(data) {
                    var jsonStr = JSON.stringify(data, null, 4);
                    //alert (jsonStr);
                    //alert (data.restaurant.item);
                   //var wl ="<b class='text-success'><span class='glyphicon glyphicon-ok' aria-hidden='true'></span>Rating was added!</b>"; //"<span class='glyphicon glyphicon-ok' aria-hidden='true'></span> <b>Restaurant was added!</b>";
                    //document.getElementById(data.restaurant.item).innerHTML = wl;
                }
       });
   });
    

    $(".btn-primary").click(function (){
        var iditem= $(this).val();
        $(this).prop('disabled', true);
        //$("#msg").children().css({"color": "red", "border": "2px solid red"});
                                $.ajaxSetup({
                                    beforeSend: function(xhr, settings) {
                                    function getCookie(name) {
                                           var cookieValue = null;
                                           if (document.cookie && document.cookie != '') {
                                               var cookies = document.cookie.split(';');
                                               for (var i = 0; i < cookies.length; i++) {
                                                   var cookie = jQuery.trim(cookies[i]);
                                                   // Does this cookie string begin with the name we want?
                                                   if (cookie.substring(0, name.length + 1) == (name + '=')) {
                                                       cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                                                       break;
                                                   }
                                               }
                                           }
                                           return cookieValue; 
                                    }
                                       if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
                                           // Only send the token to relative URLs i.e. locally.
                                           xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
                                        }
                                    }
                                });
       $.ajax({
               type: "POST",
               url: "/recomet/addwish/",
               data: JSON.stringify({"iditem":iditem}),
               dataType: "json",
               contentType:"application/json",
               success: function(data) {
                    var jsonStr = JSON.stringify(data, null, 4);
                    //alert (jsonStr);
                    //alert (data.restaurant.item);
                    var wl ="<b class='text-success'><span class='glyphicon glyphicon-ok' aria-hidden='true'></span>Added!</b>"; 
                   //"<span class='glyphicon glyphicon-ok' aria-hidden='true'></span> <b>Restaurant was added!</b>";
                    document.getElementById(data.restaurant.item).innerHTML = wl;
                    $(data.restaurant.item).fadeOut(3000);
            
                }
       });
   });
    
    //Para el boton de wishkist despues de refresh con json.
    $(document).on('click','#button2', function(){
        //$(".btn-success").click(function (){
        var iditem= $(this).val();
        //var msg = "Thanks for add!";
        $(this).prop('disabled', true);
        $("#msg").fadeOut();
                                $.ajaxSetup({
                                    beforeSend: function(xhr, settings) {
                                    function getCookie(name) {
                                           var cookieValue = null;
                                           if (document.cookie && document.cookie != '') {
                                               var cookies = document.cookie.split(';');
                                               for (var i = 0; i < cookies.length; i++) {
                                                   var cookie = jQuery.trim(cookies[i]);
                                                   // Does this cookie string begin with the name we want?
                                                   if (cookie.substring(0, name.length + 1) == (name + '=')) {
                                                       cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                                                       break;
                                                   }
                                               }
                                           }
                                           return cookieValue; 
                                    }
                                       if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
                                           // Only send the token to relative URLs i.e. locally.
                                           xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
                                        }
                                    }
                                });
       $.ajax({
               type: "POST",
               url: "/recomet/addwish/",
               data: JSON.stringify({"iditem":iditem}),
               dataType: "json",
               contentType:"application/json",
               success: function(data) {
                    var jsonStr = JSON.stringify(data, null, 4);
                    //alert (jsonStr);
                    //alert (data.restaurant.item);
                    var wl = "<b class='text-info'><span class='glyphicon glyphicon-ok' aria-hidden='true'></span>Added!</b>"; //"<span class='glyphicon glyphicon-ok' aria-hidden='true'></span> <b>Restaurant was added!</b>";
                    document.getElementById(data.restaurant.item).innerHTML = wl;
                    //var msg = "<span class='glyphicon glyphicon-ok' aria-hidden='true'></span> <b>Thanks for your vote!</b>";
                    //document.getElementById('message').innerHTML = wl;
                }
       });
   });
    
  //$ function(){
  /*  $(document).on('click','#btnmenu1', function(){
        $('#btnmenu1 option[value=""]').attr('selected', 'selected');
    });*/
        /*$('#btnmenu2').change(function(){
            $('#btnmenu2 option[value=""]').attr('selected', 'selected');
        });
        $('#btnmenu3').change(function(){
            $('#btnmenu3 option[value=""]').attr('selected', 'selected');
        });
        $('#btnmenu4').change(function(){
            $('#btnmenu4 option[value=""]').attr('selected', 'selected');
        });
        $('#btnmenu5').change(function(){
            $('#btnmenu5 option[value=""]').attr('selected', 'selected');
        });
        $('#btnmenu6').change(function(){
            $('#btnmenu6 option[value=""]').attr('selected', 'selected');
        });
        $('#btnmenu7').change(function(){
            $('#btnmenu7 option[value=""]').attr('selected', 'selected');
        });
        $('#btnmenu8').change(function(){
            $('#btnmenu8 option[value=""]').attr('selected', 'selected');
        });    
    });
    */
//MENU DE FILTROS, MANEJA TODOS LOS BOTONES DE FILTRADO.
    $(".dropdown-menu li a").click(function () {
           var dropdowntxt = $(this).text();
            document.getElementById('myalert').innerHTML = " "; 
           //alert($(this).text());
           //alert(dropdowntxt); este muetsra eel valor del dropdown
           var dropdownval= $(this).val(this.getAttribute("value"));
           //document.getElementById('features').innerHTML = dropdownval; 
           
           //Para activar el color del boton pulsado por el usuario.
           $(this).parents(".btn-group").find('.btn').text($(this).text()); 
           //.addClass("active");           
           //$('#btnmenu1').val('');
           //$(this).parents(".btn-group").find('.selection').text($(this).text());
           //Llenado de caracteristicas BUSCAR ATRIBUTOS DE DROPDOWNVAL EN JSCRIPT
           //features = features + dropdowntxt + ", " + dropdownval + ", ";
                                $.ajaxSetup({
                                    beforeSend: function(xhr, settings) {
                                    function getCookie(name) {
                                           var cookieValue = null;
                                           if (document.cookie && document.cookie != '') {
                                               var cookies = document.cookie.split(';');
                                               for (var i = 0; i < cookies.length; i++) {
                                                   var cookie = jQuery.trim(cookies[i]);
                                                   // Does this cookie string begin with the name we want?
                                                   if (cookie.substring(0, name.length + 1) == (name + '=')) {
                                                       cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                                                       break;
                                                   }
                                               }
                                           }
                                           return cookieValue; 
                                    }
                                       if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
                                           // Only send the token to relative URLs i.e. locally.
                                           xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
                                        }
                                    }
                                });
       $.ajax({
               type: "POST",
               url: "/recomet/",
               data: JSON.stringify({"dropdowntxt":dropdowntxt, "dropdownval":dropdownval}),
               dataType: "json",
               contentType:"application/json",
               success: function(data) {
                    // alert("funciono: " + data);
                    var jsonStr = JSON.stringify(data, null, 4);
                    //alert(jsonStr);
                    //alert(jsonStr.length);
                        var txt="";
                        if (jsonStr.length==24){
                            //alert('RESTAURANTS WERE NOT FOUND.');
                            document.getElementById('myalert').innerHTML = 
                                "<br><center><span class='glyphicon glyphicon-remove' aria-hidden='true'></span><b> No restaurant matched with </b> <b><font color='red'> " + dropdowntxt + ".</font> </b></center>"; 
                            //$("#myAlert").fadeOut();
                            //document.getElementById('container').innerHTML = "<center><b>No Results</b></center>";
                        }
                        
                        for (var i=0; i<jsonStr.length; i++){
                                //alert(data.restaurant[i].id);
                                txt += "<div class='col-md-4'><div class='thumbnail'>";  
                                txt += "<a href="+ "/recomet/view_profile/"+data.restaurant[i].id+"/" + ">" + "<img src='"+data.restaurant[i].urlimg+"'  width='280' height='200'></a><br>"+" <div ><b>"+"<a href="+ "/recomet/view_profile/"+data.restaurant[i].id+"/" + ">"+data.restaurant[i].name+"</b></a><br>"+data.restaurant[i].address+"</li><br>"+"<a href="+ "/recomet/view_profile/"+data.restaurant[i].id + "/ class='pull-right'><b>More</b></a>" + "<br>";
                                txt += "</div> <div id='"+data.restaurant[i].id+"' class='text-success'></div> <div ><button type='button' class='btn btn-primary' id='button2' value='"+data.restaurant[i].id+"'>Add my wishlist</button>"+"&nbsp;<button type='button' class='btn btn-success' id='buttonlike2' value='"+data.restaurant[i].id+"'>Like &nbsp;<span class='glyphicon glyphicon-heart' aria-hidden='true'></span> </button>   </div></div></div>";
                                //<button type="button" class="btn btn-default" id="wishlist" value="{{i.id}}">Add my Wishlist</button>
                                //"<input class='btn btn-default'  role='button' type='submit' value='"+data.restaurant[i].id+"'>"+"</div></div>";
                                //txt += "<form action='/recomet/addwishlist/"+data.restaurant[i].id+"/' method='GET'>"+"<input class='btn btn-default add_wish' role='button' type='submit' value='Add my Wishlist!!'>"+"</form>"+ "</div></div>";
                                //document.write(data.restaurant[i].name+"<br>");
                                document.getElementById('container').innerHTML = txt;
                                /*if (data.restaurant[i].price_value=='1'){
                                    document.getElementById('favorite').innerHTML = "<p><br><b class='text-info'>Your favorite price is "+ data.restaurant[i].favorite + "</b></p>";
                                    $("#favorite").fadeOut(10000);
                                }*/
                        }
                }
       });
   });

});//final de document ready

</script> 
<h2>Distance Matrix service</h2>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true"></script>   
<script>
var map;
var geocoder;
var bounds = new google.maps.LatLngBounds();
var markersArray = [];
var origin1 = new google.maps.LatLng(55.930, -3.118);
var origin2 = 'Greenwich, England';
var destinationA = 'Stockholm, Sweden';
var destinationB = new google.maps.LatLng(50.087, 14.421);
var destinationIcon = 'https://chart.googleapis.com/chart?chst=d_map_pin_letter&chld=D|FF0000|000000';
var originIcon = 'https://chart.googleapis.com/chart?chst=d_map_pin_letter&chld=O|FFFF00|000000';
    
function initialize() {
  var opts = {
    center: new google.maps.LatLng(55.53, 9.4),
    zoom: 10
  };
  map = new google.maps.Map(document.getElementById('map-canvas'), opts);
  geocoder = new google.maps.Geocoder();
}

function calculateDistances() {
  var service = new google.maps.DistanceMatrixService();
  service.getDistanceMatrix(
    {
      origins: [origin1, origin2],
      destinations: [destinationA, destinationB],
      travelMode: google.maps.TravelMode.DRIVING,
      unitSystem: google.maps.UnitSystem.METRIC,
      avoidHighways: false,
      avoidTolls: false
    }, callback);
}

function callback(response, status) {
  if (status != google.maps.DistanceMatrixStatus.OK) {
    alert('Error was: ' + status);
  } else {
    var origins = response.originAddresses;
    var destinations = response.destinationAddresses;
    var outputDiv = document.getElementById('outputDiv');
    outputDiv.innerHTML = '';
    deleteOverlays();

    for (var i = 0; i < origins.length; i++) {
      var results = response.rows[i].elements;
      addMarker(origins[i], false);
      for (var j = 0; j < results.length; j++) {
        addMarker(destinations[j], true);
        outputDiv.innerHTML += origins[i] + ' to ' + destinations[j]
            + ': ' + results[j].distance.text + ' in '
            + results[j].duration.text + '<br>';
      }
    }
  }
}

function addMarker(location, isDestination) {
  var icon;
  if (isDestination) {
    icon = destinationIcon;
  } else {
    icon = originIcon;
  }
  geocoder.geocode({'address': location}, function(results, status) {
    if (status == google.maps.GeocoderStatus.OK) {
      bounds.extend(results[0].geometry.location);
      map.fitBounds(bounds);
      var marker = new google.maps.Marker({
        map: map,
        position: results[0].geometry.location,
        icon: icon
      });
      markersArray.push(marker);
    } else {
      alert('Geocode was not successful for the following reason: '
        + status);
    }
  });
}

function deleteOverlays() {
  for (var i = 0; i < markersArray.length; i++) {
    markersArray[i].setMap(null);
  }
  markersArray = [];
}

google.maps.event.addDomListener(window, 'load', initialize);

</script>


