{% extends 'restaurant/base.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-2">
            <img src="http://i.imgur.com/VTwHzHA.png" height="" width="" class="img-thumbnail">
        </div>
        <div class="col-md-10">
        <nav class="navbar navbar-default inverse"> 
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                </button>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li ><a href="/recomet/"> Home</a></li>
                    <li class="active"><a href="/recomet/recomtest/" id="recommendation">Recommendations</a></li>
                    <li><a href="/recomet/user/profile/{{ u.user.id }}/">My Profile</a></li>
                    <li><a href="/recomet/usercontext/{{u.user.id}}/">My Context</a></li>
                    <li><a href="/recomet/wishlist/{{u.user.id}}/">My Wishlist</a></li>
                    <li><a href="/recomet/topten/">Community</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                  <li><a href="/accounts/logout/"><span class="glyphicon glyphicon-log-out"></span> 
                      Logout</a></li>
                </ul>
                </div>
            </div>
        </nav>
        </div>   
    </div>
</div>
{% if u != 'Guest'%}
    <div>
          <center> <p class="small">Login as <b>{{ u }}.</b></p></center>
    </div> 
{% endif %}
{% if msg %}
    <div>
        <b class="small pull-right"><img  width="20" height="20" src="http://i.imgur.com/QCOoOv4.png" />
        <font color="red">{{ msg }}</font></b>
    </div>
{% endif %}

<h3><b> My recommendations</b></h3>       
<p id="message" class="small"><b></b></p>
<hr>  
<div class="container menu">
    <div class="row">
        <div class="col-sm-2 col-md-3">
            <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" >
                            Recommendations</a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <table class="table">
                                <tr><td><a value="1" href="#">Expert</a></td></tr>
                                <tr><td><a value="2" href="#">Content Based</a></td></tr>
                                <tr><td><a value="3" href="#">Collaborative Filtering</a></td></tr>
                                <tr><td><a value="4" href="#">Nearby</a></td></tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="myalert" > </div>
        <div class="col-sm-9 col-md-9">
        <div id=container class="visible-xs-*">
        </div>
    </div>
</div>
<div id="demo">
</div>
{% endblock %}
    
<script>
    //Boton Whislist.
    $(".btn-primary").click(function (){
        var iditem= $(this).val();
        alert('Restaurant was added!');
        //document.getElementById('message').innerHTML = msg;
                                $.ajaxSetup({
                                    beforeSend: function(xhr, settings) {
                                    function getCookie(name) {
                                           var cookieValue = null;
                                           if (document.cookie && document.cookie != '') {
                                               var cookies = document.cookie.split(';');
                                               for (var i = 0; i < cookies.length; i++) {
                                                   var cookie = jQuery.trim(cookies[i]);
                                                   // Does this cookie string begin with the name we want?
                                                   if (cookie.substring(0, name.length + 1) == (name + '=')) {
                                                       cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                                                       break;
                                                   }
                                               }
                                           }
                                           return cookieValue; 
                                    }
                                       if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
                                           // Only send the token to relative URLs i.e. locally.
                                           xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
                                        }
                                    }
                                });
       $.ajax({
               type: "POST",
               url: "/recomet/addwish/",
               data: JSON.stringify({"iditem":iditem}),
               dataType: "json",
               contentType:"application/json",
               success: function(data) {
                    //alert('thanks for add....');
                    //var jsonStr = JSON.stringify(data, null, 4);
                    //alert(jsonStr);
                    //var wl = "<span class='glyphicon glyphicon-ok' aria-hidden='true'></span> <b>Restaurant was added!</b>";
                    //document.getElementById(data.restaurant.item).innerHTML = wl;
                    
                }
       });
   });
</script>
    
<script>
$(document).ready(function(){
    
    //Para manejar el menu con acordion.
     $(".table tr td a").click(function () {
           var tableval= $(this).val(this.getAttribute("value"));
           //alert(tableval);
            //document.getElementById('container').innerHTML = "<center><b>Loading...</b></center>";
            //$(this).parents(".btn-group").find('.btn').text($(this).text()).addClass("active");
            document.getElementById('container').innerHTML = "<center><div class='col-md-4'><div class='progress'><div class='progress-bar progress-bar-striped active' role='progressbar' aria-valuenow='100' aria-valuemin='0' aria-valuemax='100' style='width:100%'><b>Loading...</b></div></div></div></center>";
           
                                $.ajaxSetup({
                                    beforeSend: function(xhr, settings) {
                                    function getCookie(name) {
                                           var cookieValue = null;
                                           if (document.cookie && document.cookie != '') {
                                               var cookies = document.cookie.split(';');
                                               for (var i = 0; i < cookies.length; i++) {
                                                   var cookie = jQuery.trim(cookies[i]);
                                                   // Does this cookie string begin with the name we want?
                                                   if (cookie.substring(0, name.length + 1) == (name + '=')) {
                                                       cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                                                       break;
                                                   }
                                               }
                                           }
                                           return cookieValue; 
                                    }
                                       if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
                                           // Only send the token to relative URLs i.e. locally.
                                           xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
                                        }
                                    }
                                });
       $.ajax({
               type: "POST",
               //url: "/recomet/recommendations/{{u.user_id}}/",
               url: "/recomet/recomtest/",
               data: JSON.stringify({"tableval":tableval}),
               dataType: "json",
               contentType:"application/json",
               success: function(data) {
                    var jsonStr =  JSON.stringify(data, null,4);
                    //alert(jsonStr);
                    //alert(jsonStr.length);
                    
                    if (jsonStr.length==24) 
                    {
                        document.getElementById('container').innerHTML = "<b class='text-info'><span class='glyphicon glyphicon-remove' aria-hidden='true'></span>&nbsp;&nbsp;No restaurants found.</b>";
                    }
                    if (jsonStr.length==100)
                    {
                        document.getElementById('container').innerHTML = "<b class='text-info'><span class='glyphicon glyphicon-remove' aria-hidden='true'></span>&nbsp;&nbsp;You do not have any location.</b>";
                    }
                    
                    
                            
                    var v = data.restaurant[0].value;
                    var txt="";
                    if (v=='1'){
                            //alert('expert');
                            for (var i=0; i<jsonStr.length; i++){  
                                txt += "<div class='col-md-4'><div class='thumbnail'>";
                                txt += "<a href="+ "/recomet/view_profile/"+data.restaurant[i].id+"/" + ">" + "<img src="+data.restaurant[i].urlimg+" width='280' height='200' ></a><br>"+" <div ><b>"+"<a href="+ "/recomet/view_profile/"+data.restaurant[i].id+"/" + ">"+data.restaurant[i].name+"</b></a><br>"+data.restaurant[i].address+"</li><br>"+"<a href="+ "/recomet/view_profile/"+data.restaurant[i].id + "/ class='pull-right'><b>More</b></a>" + "<br>";
                                txt += "</div> <div id='"+data.restaurant[i].id+"' class='text-success'></div> <div ><button type='button' class='btn btn-primary' id='button2' value='"+data.restaurant[i].id+"'>Add my wishlist</button>"+ "&nbsp;<button type='button' class='btn btn-success' id='buttonlike2' value='"+data.restaurant[i].id+"'>Like &nbsp;<span class='glyphicon glyphicon-heart' aria-hidden='true'></span> </button>   </div></div></div>";
                                
                                document.getElementById('container').innerHTML = txt;
                            }               
                    }
                    if (v=='2'){
                            //alert('content-based');
                            for (var i=0; i<jsonStr.length; i++){  
                                txt += "<div class='col-md-4'><div class='thumbnail'>";
                                txt += "<a href="+ "/recomet/view_profile/"+data.restaurant[i].id+"/" + ">" + "<img src="+data.restaurant[i].urlimg+" width='280' height='200'></a><br>"+" <div ><b>"+"<a href="+ "/recomet/view_profile/"+data.restaurant[i].id+"/" + ">"+data.restaurant[i].name+"</b></a><br>"+data.restaurant[i].address+"</li><br>"+"<a href="+ "/recomet/view_profile/"+data.restaurant[i].id + "/ class='pull-right'><b>More</b></a>" + "<br>";
                                txt += "</div> <div id='"+data.restaurant[i].id+"' class='text-success'></div> <div ><button type='button' class='btn btn-primary' id='button2' value='"+data.restaurant[i].id+"'>Add my wishlist</button>"+ "&nbsp;<button type='button' class='btn btn-success' id='buttonlike2' value='"+data.restaurant[i].id+"'>Like &nbsp;<span class='glyphicon glyphicon-heart' aria-hidden='true'></span> </button>   </div></div></div>";
        
                                document.getElementById('container').innerHTML = txt;
                            }
                    }
                    if (v=='3'){
                            //alert('cf');
                            for (var i=0; i<jsonStr.length; i++){  
                                txt += "<div class='col-md-4'><div class='thumbnail'>";
                                txt += "<a href="+ "/recomet/view_profile/"+data.restaurant[i].id+"/" + ">" + "<img src="+data.restaurant[i].urlimg+" width='280' height='200'></a><br>"+" <div ><b>"+"<a href="+ "/recomet/view_profile/"+data.restaurant[i].id+"/" + ">"+data.restaurant[i].name+"</b></a><br>"+data.restaurant[i].address+"</li><br>"+"<a href="+ "/recomet/view_profile/"+data.restaurant[i].id + "/ class='pull-right'><b>More</b></a>" + "<br>";
                                txt += "</div> <div id='"+data.restaurant[i].id+"' class='text-success'></div> <div ><button type='button' class='btn btn-primary' id='button2' value='"+data.restaurant[i].id+"'>Add my wishlist</button>"+ "&nbsp;<button type='button' class='btn btn-success' id='buttonlike2' value='"+data.restaurant[i].id+"'>Like &nbsp;<span class='glyphicon glyphicon-heart' aria-hidden='true'></span> </button>   </div></div></div>";
  
                                document.getElementById('container').innerHTML = txt;
                            }
                    }
                    if (v=='4'){
                            //alert(data.restaurant[0].poi_id);
                            for (var i=0; i<jsonStr.length; i++){  
                                txt += "<div class='col-md-4'><div class='thumbnail'>";
                                txt += "<a href="+ "/recomet/view_profile/"+data.restaurant[i].poi_id+"/" + ">" + "<img src="+data.restaurant[i].urlimg+" width='280' height='200'></a><br>"+" <div ><b>"+"<a href="+ "/recomet/view_profile/"+data.restaurant[i].poi_id+"/" + ">"+data.restaurant[i].name+"</b></a><br>"+data.restaurant[i].address+"<br>Distancia Aproximada  <b>"+data.restaurant[i].dis+" "+"kms.</b><br><a href="+ "/recomet/view_profile/"+data.restaurant[i].poi_id + "/ class='pull-right'><b>More</b></a>" + "<br>";
                                txt += "</div> <div id='"+data.restaurant[i].poi_id+"' class='text-success'></div> <div ><button type='button' class='btn btn-primary' id='button2' value='"+data.restaurant[i].poi_id+"'>Add my wishlist</button>"+ "&nbsp;<button type='button' class='btn btn-success' id='buttonlike2' value='"+data.restaurant[i].id+"'>Like &nbsp;<span class='glyphicon glyphicon-heart' aria-hidden='true'></span> </button>   </div></div></div>";
   
                                document.getElementById('container').innerHTML = txt;
                            }
                    }
                } 
       });
   });

    //para manejar el menu con dropdown.
    $(".dropdown-menu li a").click(function () {
           var dropdownval= $(this).val(this.getAttribute("value"));
           //alert(dropdownval);
            //document.getElementById('container').innerHTML = "<center><b>Loading...</b></center>";
            $(this).parents(".btn-group").find('.btn').text($(this).text()).addClass("active");
            document.getElementById('container').innerHTML = "<div class='col-md-4'><center><div class='progress'><div class='progress-bar progress-bar-striped active' role='progressbar' aria-valuenow='100' aria-valuemin='0' aria-valuemax='100' style='width: 100%'><b>Loading...</b></div></div></center></div>";
           
                                $.ajaxSetup({
                                    beforeSend: function(xhr, settings) {
                                    function getCookie(name) {
                                           var cookieValue = null;
                                           if (document.cookie && document.cookie != '') {
                                               var cookies = document.cookie.split(';');
                                               for (var i = 0; i < cookies.length; i++) {
                                                   var cookie = jQuery.trim(cookies[i]);
                                                   // Does this cookie string begin with the name we want?
                                                   if (cookie.substring(0, name.length + 1) == (name + '=')) {
                                                       cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                                                       break;
                                                   }
                                               }
                                           }
                                           return cookieValue; 
                                    }
                                       if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
                                           // Only send the token to relative URLs i.e. locally.
                                           xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
                                        }
                                    }
                                });
       $.ajax({
               type: "POST",
               //url: "/recomet/recommendations/{{u.user_id}}/",
               url: "/recomet/recomtest/",
               data: JSON.stringify({"dropdownval":dropdownval}),
               dataType: "json",
               contentType:"application/json",
               success: function(data) {
                    var jsonStr =  JSON.stringify(data, null,4);
                    //alert(jsonStr);
                    //alert(jsonStr.length);
                    
                    if (jsonStr.length==24){
                        document.getElementById('container').innerHTML = "<b class='text-info'><span class='glyphicon glyphicon-remove' aria-hidden='true'></span>&nbsp;&nbsp;No restaurants found.</b>";
                    }
                    if (jsonStr.length==100){
                        document.getElementById('container').innerHTML = "<b class='text-info'><span class='glyphicon glyphicon-remove' aria-hidden='true'></span>&nbsp;&nbsp;You do not have any location.</b>";
                    }
        
                    var v = data.restaurant[0].value;
                    //alert(v);
                    var txt="";
                    if (v=='1'){
                            //alert('expert');
                            for (var i=0; i<jsonStr.length; i++){  
                                txt += "<div class='col-sm-6 col-md-4'><div class='thumbnail'>";
                                txt += "<a href="+ "/recomet/view_profile/"+data.restaurant[i].id+"/" + ">" + "<img src="+data.restaurant[i].urlimg+"  ></a><br>"+" <div ><b>"+"<a href="+ "/recomet/view_profile/"+data.restaurant[i].id+"/" + ">"+data.restaurant[i].name+"</b></a><br>"+data.restaurant[i].address+"</li><br>"+"<a href="+ "/recomet/view_profile/"+data.restaurant[i].id + "/ class='pull-right'><b>More</b></a>" + "<br>";
                                txt += "</div> <div id='"+data.restaurant[i].id+"' class='text-success'></div> <div ><button type='button' class='btn btn-primary' id='button2' value='"+data.restaurant[i].id+"'>Add my wishlist</button>"+ "&nbsp;<button type='button' class='btn btn-success' id='buttonlike2' value='"+data.restaurant[i].id+"'>Like &nbsp;<span class='glyphicon glyphicon-heart' aria-hidden='true'></span> </button>   </div></div></div>";
                                
                                document.getElementById('container').innerHTML = txt;
                            }               
                    }
                    if (v=='2'){
                            //alert('content-based');
                            for (var i=0; i<jsonStr.length; i++){  
                                txt += "<div class='col-sm-6 col-md-4'><div class='thumbnail'>";
                                txt += "<a href="+ "/recomet/view_profile/"+data.restaurant[i].id+"/" + ">" + "<img src="+data.restaurant[i].urlimg+" ></a><br>"+" <div ><b>"+"<a href="+ "/recomet/view_profile/"+data.restaurant[i].id+"/" + ">"+data.restaurant[i].name+"</b></a><br>"+data.restaurant[i].address+"</li><br>"+"<a href="+ "/recomet/view_profile/"+data.restaurant[i].id + "/ class='pull-right'><b>More</b></a>" + "<br>";
                                txt += "</div> <div id='"+data.restaurant[i].id+"' class='text-success'></div> <div ><button type='button' class='btn btn-primary' id='button2' value='"+data.restaurant[i].id+"'>Add my wishlist</button>"+ "&nbsp;<button type='button' class='btn btn-success' id='buttonlike2' value='"+data.restaurant[i].id+"'>Like &nbsp;<span class='glyphicon glyphicon-heart' aria-hidden='true'></span> </button>   </div></div></div>";
        
                                document.getElementById('container').innerHTML = txt;
                            }
                    }
                    if (v=='3'){
                            //alert('cf');
                            for (var i=0; i<jsonStr.length; i++){  
                                txt += "<div class='col-sm-6 col-md-4'><div class='thumbnail'>";
                                txt += "<a href="+ "/recomet/view_profile/"+data.restaurant[i].id+"/" + ">" + "<img src="+data.restaurant[i].urlimg+"  ></a><br>"+" <div ><b>"+"<a href="+ "/recomet/view_profile/"+data.restaurant[i].id+"/" + ">"+data.restaurant[i].name+"</b></a><br>"+data.restaurant[i].address+"</li><br>"+"<a href="+ "/recomet/view_profile/"+data.restaurant[i].id + "/ class='pull-right'><b>More</b></a>" + "<br>";
                                txt += "</div> <div id='"+data.restaurant[i].id+"' class='text-success'></div> <div ><button type='button' class='btn btn-primary' id='button2' value='"+data.restaurant[i].id+"'>Add my wishlist</button>"+ "&nbsp;<button type='button' class='btn btn-success' id='buttonlike2' value='"+data.restaurant[i].id+"'>Like &nbsp;<span class='glyphicon glyphicon-heart' aria-hidden='true'></span> </button>   </div></div></div>";
  
                                document.getElementById('container').innerHTML = txt;
                            }
                    }
                    if (v=='4'){
                            alert(data.restaurant[0].poi_id);
                            for (var i=0; i<jsonStr.length; i++){  
                                txt += "<div class='col-sm-6 col-md-4'><div class='thumbnail'>";
                                txt += "<a href="+ "/recomet/view_profile/"+data.restaurant[i].poi_id+"/" + ">" + "<img src="+data.restaurant[i].urlimg+"  ></a><br>"+" <div ><b>"+"<a href="+ "/recomet/view_profile/"+data.restaurant[i].poi_id+"/" + ">"+data.restaurant[i].name+"</b></a><br>"+data.restaurant[i].address+"<br>Distancia Aproximada: <b>"+data.restaurant[i].dis+" "+"kms.</b><br><a href="+ "/recomet/view_profile/"+data.restaurant[i].poi_id + "/ class='pull-right'><b>More</b></a>" + "<br>";
                                txt += "</div> <div id='"+data.restaurant[i].poi_id+"' class='text-success'></div> <div ><button type='button' class='btn btn-primary' id='button2' value='"+data.restaurant[i].poi_id+"'>Add my wishlist</button>"+ "&nbsp;<button type='button' class='btn btn-success' id='buttonlike2' value='"+data.restaurant[i].id+"'>Like &nbsp;<span class='glyphicon glyphicon-heart' aria-hidden='true'></span> </button>   </div></div></div>";
   
                                document.getElementById('container').innerHTML = txt;
                            }
                    }
                } 
       });
   }); 
    
    //Boton Whislist con Json, despues del primer despliegue de restaurantes.
    $(document).on('click','#button2', function(){
        //$(".btn-success").click(function (){
        var iditem= $(this).val();
        //var msg = "Thanks for add!";
        //alert('Restaurant was added!');
        //document.getElementById('message').innerHTML = msg;
                                $.ajaxSetup({
                                    beforeSend: function(xhr, settings) {
                                    function getCookie(name) {
                                           var cookieValue = null;
                                           if (document.cookie && document.cookie != '') {
                                               var cookies = document.cookie.split(';');
                                               for (var i = 0; i < cookies.length; i++) {
                                                   var cookie = jQuery.trim(cookies[i]);
                                                   // Does this cookie string begin with the name we want?
                                                   if (cookie.substring(0, name.length + 1) == (name + '=')) {
                                                       cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                                                       break;
                                                   }
                                               }
                                           }
                                           return cookieValue; 
                                    }
                                       if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
                                           // Only send the token to relative URLs i.e. locally.
                                           xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
                                        }
                                    }
                                });
       $.ajax({
               type: "POST",
               url: "/recomet/addwish/",
               data: JSON.stringify({"iditem":iditem}),
               dataType: "json",
               contentType:"application/json",
               success: function(data) {
                    //var jsonStr = JSON.stringify(data, null, 4);
                    //alert(jsonStr);
                    var wl = "<span class='glyphicon glyphicon-ok' aria-hidden='true'></span> <b>Added!</b>";
                    document.getElementById(data.restaurant.item).innerHTML = wl;
                }
       });
   });

    //PARA EL BOTON LIKE DE REOMENDACIONES AL USUARIO.     
    $(document).on('click','#buttonlike2', function(){
        var iditem= $(this).val();
        //alert(iditem);
        //$("#buttonlike2").disabled();
        $(this).prop('disabled', true);
        //$(".btn-success").prop('disabled', true);
        //$("#msg").children().css({"color": "red", "border": "2px solid red"});
                                $.ajaxSetup({
                                    beforeSend: function(xhr, settings) {
                                    function getCookie(name) {
                                           var cookieValue = null;
                                           if (document.cookie && document.cookie != '') {
                                               var cookies = document.cookie.split(';');
                                               for (var i = 0; i < cookies.length; i++) {
                                                   var cookie = jQuery.trim(cookies[i]);
                                                   // Does this cookie string begin with the name we want?
                                                   if (cookie.substring(0, name.length + 1) == (name + '=')) {
                                                       cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                                                       break;
                                                   }
                                               }
                                           }
                                           return cookieValue; 
                                    }
                                       if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
                                           // Only send the token to relative URLs i.e. locally.
                                           xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
                                        }
                                    }
                                });
       $.ajax({
               type: "POST",
               url: "/recomet/rating/",
               data: JSON.stringify({"iditem":iditem}),
               dataType: "json",
               contentType:"application/json",
               success: function(data) {
                    var jsonStr = JSON.stringify(data, null, 4);            
                }
       });
   });
    

//final de document ready
});
</script>

<script>
var x = document.getElementById("demo");
function getLocation() {
  if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(showPosition);
  } else { 
      x.innerHTML = "Geolocation is not supported by this browser.";
 }
}

function showPosition(position) {
  x.innerHTML = "Latitude: " + position.coords.latitude+"<br>Longitude: " + position.coords.longitude;
  x.innerHTML = "Name: " + position.coords.addresses;
}
</script>
    
 
<script>
var x = document.getElementById("demo");

function getLocation() {
    if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(showPosition);
    } else { 
        x.innerHTML = "Geolocation is not supported by this browser.";
    }
}

function showPosition(position) {
    x.innerHTML = "Latitude: " + position.coords.latitude+"<br>Longitude: " + position.coords.longitude;
    
}
</script>



