{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    <html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Recomet</title>
    <!--Para hacer una pagina responsive-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="css/bootstrap-theme.css" rel="stylesheet">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <!--mansory-->
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script> 
    <script type="text/javascript" src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <!-- Incluimos Masonry -->
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/masonry/3.0.0/masonry.pkgd.js"></script>
    <!-- Esta libreria nos ayudara a crear imagenes placeholder para nuestro demo -->
    <script type="text/javascript" src="static/js/holder.js"></script>
    <!-- Esta ultima libreria es un complemento no requerido pero a veces indispensable para Masonry -->
    <script type="text/javascript" src="static/js/imagesloaded.pkgd.min.js"></script>
    <!--carousel-->
    <link href="http://getbootstrap/2.3.2/assets/css/bootstrap.css" rel="stylesheet">
    <link href="http://getbootstrap/2.3.2/assets/css/bootstrap-responsive.css" rel="stylesheet">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <style>
    .carousel-inner > .item > img,
    .carousel-inner > .item > a > img {
        width: 100%;
        margin: auto;
    }
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }

      #map-canvas {
        height: 100%;
        width: 50%;
      }
      #content-pane {
        float:right;
        width:48%;
        padding-left: 2%;
      }
      #outputDiv {
        font-size: 11px;
      }
    </style>
    <!-- FormValidation CSS file -->
    <link rel="stylesheet" href="/vendor/formvalidation/dist/css/formValidation.min.css">
    <!-- FormValidation plugin and the class supports validating Bootstrap form -->
    <script src="/vendor/formvalidation/dist/js/formValidation.min.js"></script>
    <script src="/vendor/formvalidation/dist/js/framework/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{{ STATIC_URL }}style.css" />
    <title>{% block title %}User test{% endblock %}</title>
</head>
<body>
    <div id="header">
        {% block header %}
        {% if user.is_authenticated %}
            {% trans "Logged in" %}: {{ user.username }} 
            (<a href="{% url 'auth_logout' %}">{% trans "Log out" %}</a> | 
        {% else %}
           <B>..RECOMET..</B>
        {% endif %}
        <hr />
        {% endblock %}                                  
    </div>
    <div id="content">
        {% block content %}
        {% endblock %}
    </div>
    <div id="footer">
        {% block footer %}
            <hr />
        {% endblock %}
    </div>
</body>
</html>
